<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{com/attending::title}"></div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{com/attending::head}"></div>

    <div th:replace="~{com/attending::left_appointment}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table">
                <tr>
                    <th>预约人</th>
                    <th>预约时间</th>
                    <th>预约科室</th>
                    <th>预约医师</th>
                    <th>预约状态</th>
                    <th>操作</th>
                </tr>

                <tr th:each="appointment:${appointments}">
                    <th>[[${appointment.patient.patientName}]]</th>
                    <th>[[${appointment.appointmentTime}]]</th>
                    <th>[[${appointment.branch.branchName}]]</th>
                    <th>[[${appointment.employee.employeeName}]]</th>
                    <th>[[${appointment.appointmentStatus}]]</th>
                </tr>
            </table>
        </div>
    </div>

    <div th:replace="~{com/attending::foot}"></div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['element', 'table'], function () {
        var element = layui.element;
        var table = layui.table;
        table.render({
            elem: '#demo'
            , height: 312
            , url: '/appointment/appointments' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                , {field: 'username', title: '用户名', width: 80}
                , {field: 'sex', title: '性别', width: 80, sort: true}
                , {field: 'city', title: '城市', width: 80}
                , {field: 'sign', title: '签名', width: 177}
                , {field: 'experience', title: '积分', width: 80, sort: true}
                , {field: 'score', title: '评分', width: 80, sort: true}
                , {field: 'classify', title: '职业', width: 80}
                , {field: 'wealth', title: '财富', width: 135, sort: true}
            ]]
        });
    });

</script>
</body>
</html>