<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>查看手术信息</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        function findOperationByStatus(){
            var operationStatus=$("#operationStatus").val().toString();
            alert("ccc");
            $.ajax({
                url:"/operation/findOperationByStatus",
                type:"get",
                data:{
                    'operationStatus':operationStatus
                },
                dataType:"json",
                success: function(data){
                    alert(data);
                            $("#div1").html(data);
                        }
            });
        }
    </script>

</head>
<body>
请选择查看手术的处理状态：
<select id="operationStatus" onchange="findOperationByStatus()">
    <option value="1">已处理</option>
    <option value="0">未处理</option>
</select>
    <table border="1" id="div1" th:fragment="div1">
            <tr>
                <th>手术ID</th>
                <th>手术名称</th>
                <th>协助者</th>
                <th>麻醉师</th>
                <th>所用药品</th>
                <th>所用设备</th>
                <th>手术时间</th>
                <th>手术描述</th>
                <th>手术费用</th>
                <th>所在的手术室</th>
                <th>房间地址</th>
                <th>支付情况</th>
                <th>支付时间</th>
                <th>处理情况</th>
                <th>操作</th>
            </tr>

            <tr th:each="operation:${operations}">
                <td th:text="${operation.operationId}"></td>
                <td th:text="${operation.operationName}"></td>
                <td th:text="${operation.operationAssistant}"></td>
                <td th:text="${operation.operationAnesthetist}"></td>
                <td th:text="${operation.operationMedicine}"></td>
                <td th:text="${operation.operationDevice}"></td>
                <td th:text="${#dates.format(operation.operationTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${operation.operationDescription}"></td>
                <td th:text="${operation.operationPrice}"></td>
                <td th:text="${operation.room.roomName}"></td>
                <td th:text="${operation.room.roomAddress}"></td>
                <td th:text="${operation.operationPayStatus}>0?'已支付':'未支付'"></td>
                <td th:text="${#dates.format(operation.operationPayTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${operation.operationStatus}>0?'已处理':'未处理'"></td>
                <td>
                    <a>修改</a>
                </td>
            </tr>
    </table>
</body>
</html>