<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--================ 网页头部 ================-->
    <div th:replace="~{com/operation::head}"></div>

    <!--================ 网页左侧导航栏 ================-->
    <div th:replace="~{com/operation::left_operation}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table" id="OperationTable" lay-filter="tableFilter">
            </table>
        </div>
    </div>

    <div th:replace="~{com/operation::foot}"></div>
</div>
        <script>

            //JavaScript代码区域
            layui.use(['layer', 'element', 'table', 'form'], function () {
                var layer = layui.layer;
                var element = layui.element;
                var table = layui.table;
                var form = layui.form;

                table.render({
                    elem: '#OperationTable'
                    , height: 312
                    , url: '/operation/findAllOperation' //数据接口
                    , method: 'get'
                    , page: false //开启分页
                    , cols: [
                        [
                            {field: 'operationId', title: '手术ID'},
                            {field: 'operationName', title: '手术名称'},
                            {field: 'operationAssistant', title: '协助者'},
                            {field: 'operationAnesthetist', title: '麻醉师'},
                            {field: 'operationMedicine', title: '所用药品'},
                            {field: 'operationDevice', title: '所用设备'},
                            {field: 'operationTime', title: '手术时间', sort: true},
                            {field: 'operationDescription', title: '手术描述'},
                            {field: 'operationPrice', title: '手术费用'},
                            {
                                field: 'roomAddress', title: '诊室地址', templet: function (operation) {
                                    return operation.room.roomAddress;
                                }
                            },
                            {
                                field: 'operationPayStatus', title: '支付情况', width: 90, templet: function (operation) {
                                    return operation.operationPayStatus === 1 ? "已支付" : "未支付";
                                }
                            },
                            {field: 'operationPayTime', title: '支付时间', sort: true},
                            {
                                field: 'operationPayStatus', title: '处理情况', width: 90, templet: function (operation) {
                                    return operation.operationStatus === 1 ? "已处理" : "未处理";
                                }
                            }
                        ]
                    ]
                });
            });
        </script>
</body>

</html>
