<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{com/admin::admin_head}"></div>

    <div th:replace="~{com/admin::admin_left_employee}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!--员工添加功能-->
            <form class="layui-form">
                <!-- 头条 -->
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;width:700px;">
                    <legend>修改员工信息</legend>
                </fieldset>
                <!-- 员工姓名 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">员工姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="employeeName" id="employeeName" autocomplete="off" class="layui-input"
                               style="width:200px;" th:value="${employee.employeeName}"/>
                    </div>
                </div>

                <!-- employeeDetailIdentity -->
                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleName" id="roleName" autocomplete="off" class="layui-input"
                               style="width:525px;" th:value="${employee.roleName}"/>
                    </div>
                </div>
                <!-- employeeDetailDescript -->
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">职称</label>
                    <div class="layui-input-block">
                        <input type="text" name="titleName" id="titleName" autocomplete="off" class="layui-input"
                               style="width:525px;" th:value="${employee.titleName}"/>
                    </div>
                </div>
                <!-- employee -->
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">科室</label>
                    <div class="layui-input-block">
                        <input type="text" name="branchName" id="branchName" autocomplete="off" class="layui-input"
                               style="width:525px;" th:value="${employee.branchName}"/>
                    </div>
                </div>
                <!-- employee -->
                <div class="layui-form-item layui-form-text" hidden="hidden">
                    <div class="layui-input-block">
                        <input type="text" name="employeeId" id="employeeId" autocomplete="off" class="layui-input"
                               style="width:525px;" th:value="${employee.employeeId}"/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <button class="layui-btn" onclick="submit_event()">确定修改</button>
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div th:replace="~{com/admin::foot}"></div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['element', 'form'], function () {
        var element = layui.element;
        var form = layui.form;

    });

    function submit_event() {
        var my_data =
            {
                "employeeId": $("#employeeId").val(),
                "employeeName": $("#employeeName").val(),
                "roleName": $("#roleName").val(),
                "titleName": $("#titleName").val(),
                "branchName": $("#branchName").val()
            };
        console.info(JSON.stringify(my_data));
        $.ajax({
            type: "put",
            url: "/admin/employee",
            data: my_data,
            success: function () {
                window.location.href = "/page/index";
            },
            error: function () {
                console.info("连接后台有问题");
            }
        });
    }
</script>
</body>
</html>