<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{com/admin::admin_head}"></div>

    <div th:replace="~{com/admin::admin_left_employee}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!--<div class="layui-col-md12">-->
            <!--    <label>请输入员工编码</label>-->
            <!--    <button></button>-->
            <!--</div>-->
            <table class="layui-table" id="admin_table" lay-filter="admin_employee_index_table_filter">
            </table>
            <!--查看员工，显示员工列表，带有修改和删除功能-->

            <!--搜索员工功能-->

            <!--添加员工功能-->


        </div>
    </div>

    <div th:replace="~{com/admin::foot}"></div>
</div>
<!--================ 工具条：操作处理 ================-->
<script type="text/html" id="operation_bar">
    <a class="layui-btn layui-btn-xs" lay-event="search_event">查看详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="update_event">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete_event">删除</a>
</script>
<!--================ JavaScript代码区域 ================-->
<script>
    layui.use(['element', 'table', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;

        var my_table = table.render({
            elem: '#admin_table'
            , height: '600'
            , url: '/admin/employee/online' //数据接口
            , method: 'get'
            , page: true //开启分页
            , cols: [
                [
                    {field: 'employeeId', title: '员工号', fixed: 'left'}
                    , {field: 'employeeName', title: '员工姓名'}
                    , {field: 'titleName', title: '员工职称'}
                    , {field: 'employeeDetailGender', title: '员工性别'}
                    , {field: 'employeeDetailEntryTime', title: '入职时间', sort: true}
                    , {title: '操作', fixed: 'right', align: 'center', toolbar: '#operation_bar'}
                ]
            ]
        });

        //监听操作事件
        table.on('tool(admin_employee_index_table_filter)', function (obj) {
            //获取当前行的数据
            var rowData = obj.data;
            switch (obj.event) {
                //查看处方
                case 'search_event':
                    //显示详情
                    layer.msg("暂时没弄好" + JSON.stringify(rowData));
                    break;
                case 'update_event':
                    var my_data = {
                        employeeId: rowData.employeeId,
                        titleName: rowData.titleName,
                        employeeName: rowData.employeeName,
                        branchName: rowData.branchName,
                        roleName: rowData.roleName
                    };
                    var my_form = document.createElement("form");
                    my_form.action = "/page/admin/employee/update";
                    my_form.method = "post";
                    my_form.style.display = "none";
                    for (var x in my_data) {
                        var opt = document.createElement("textarea");
                        opt.name = x;
                        opt.value = my_data[x];
                        my_form.appendChild(opt);
                    }
                    document.body.appendChild(my_form);
                    my_form.submit();
                    // window.location.href = "/page/admin/employee/update?"
                    break;
                case 'delete_event':
                    //删除，修改员工为离职状态
                    $.ajax({
                        type: "delete",
                        url: "/admin/employee",
                        data: {employeeId: rowData.employeeId},
                        error: function () {
                            console.info("连接后台有问题");
                        }
                    });
                    layer.msg("success");
                    my_table.reload();
                    break;
            }
        });
    });

</script>
</body>
</html>