<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{com/admin::admin_title}"></div>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="~{com/admin::admin_head}"></div>

    <div th:replace="~{com/admin::admin_left_permission}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table" id="admin_table" lay-filter="admin_employee_index_table_filter">
            </table>
        </div>
    </div>

    <!--<div th:replace="~{com/admin::foot}" ></div >-->
</div>
<!--================ 工具条：操作处理 ================-->
<script type="text/html" id="operation_bar">
    <a class="layui-btn layui-btn-xs" lay-event="search_event">查看详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="update_event">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete_event">删除</a>
</script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'table', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;

        var my_table = table.render({
            elem: '#admin_table'
            , height: '600'
            , url: '/admin/permission/detail' //数据接口
            , method: 'get'
            , page: true //开启分页
            , cols: [
                [
                    {field: 'roleName', title: '角色', fixed: 'left'}
                    , {field: 'powerDetailUrl', title: '能请求的url'}
                    , {field: 'powerDetailMethod', title: '请求方式'}
                    , {field: 'powerDetailDescription', title: '权限描述'}
                ]
            ]
        });
    });

</script>
</body>
</html>