<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{com/attending::title}"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--================ 网页头部 ================-->
    <div th:replace="~{com/attending::head}"></div>

    <!--================ 网页左侧导航栏 ================-->
    <div th:replace="~{com/attending::left_diagnosis}"></div>

    <!--================ 主体内容区 ================-->
    <div class="layui-body">
        <div style="padding: 15px;">
            <!--==== 显示诊断的表单 =====-->
            <table class="layui-table" id="diagnosis_table" lay-filter="diagnosis_table_filter">
            </table>
        </div>
    </div>
</div>

<!--================ js代码区域 ================-->
<script type="text/html" id="optBar">
    <a class="layui-btn layui-btn-xs" lay-event="arrange">摇号</a>
    <a class="layui-btn layui-btn-xs" lay-event="diagnosis">填写诊断</a>
    <a class="layui-btn layui-btn-xs" lay-event="deal">已处理</a>
</script>
<script>
    layui.use(['element', 'table'], function () {
        var element = layui.element;
        var table = layui.table;

        table.render({
            elem: '#diagnosis_table'
            , height: 312
            , url: '/diagnosis/dealingDiagnosis' //数据接口
            , method: 'get'
            , page: true //开启分页
            , cols: [
                [
                    {
                        field: 'patientName', title: '预约人', fixed: 'left', templet: function (appointment) {
                            return appointment.patient.patientName;
                        }
                    }
                    , {field: 'appointmentTime', title: '预约时间', sort: true}
                    , {
                    field: 'branchName', title: '预约科室', templet: function (appointment) {
                        return appointment.branch.branchName;
                    }
                }
                    , {
                    field: 'employeeName', title: '医师', templet: function (appointment) {
                        return appointment.employee.employeeName;
                    }
                }
                    , {field: 'appointmentStatus', title: '预约状态'}
                    , {title: '操作', fixed: 'right', align: 'center', toolbar: '#optBar'}
                ]
            ]
        });

        //监听事件
        table.on('tool(tableFilter)', function (obj) {
            //获取当前行的数据
            var rowData = obj.data;
            switch (obj.event) {
                case 'arrange':
                    $.ajax({
                        type: "post",
                        url: "/queue",
                        data: {"patientId": rowData.patientId},
                        success: function (data) {
                            layer.msg(data);
                        },
                        error: function () {
                            layer.msg("连接后台失败");
                        }
                    });
                    break;
                case 'diagnosis':
                    $.ajax({
                            url: "/page/diagnosis/addReady",
                            type: "post",
                            contentType: "application/json",
                            data: JSON.stringify({
                                "appointmentId":
                                rowData.appointmentId,
                                "appointmentTime":
                                rowData.appointmentTime,
                                "appointmentStatus":
                                rowData.appointmentStatus,
                                "patientId":
                                rowData.patientId,
                                "employeeId":
                                rowData.employeeId,
                                "branchId":
                                rowData.branchId,
                                "appointmentPrice":
                                rowData.appointmentPrice,
                                "appointmentPayTime":
                                rowData.appointmentPayTime,
                                "patient":
                                    {
                                        "patientId":
                                        rowData.patient.patientId,
                                        "patientPhone":
                                        rowData.patient.patientPhone,
                                        "patientName":
                                        rowData.patient.patientName,
                                        "patientGender":
                                        rowData.patient.patientGender,
                                        "patientIdentity":
                                        rowData.patient.patientIdentity,
                                        "patientAddress":
                                        rowData.patient.patientAddress,
                                        "clientId":
                                        rowData.patient.clientId
                                    }
                                ,
                                "employee":
                                    {
                                        "employeeId":
                                        rowData.employee.employeeId,
                                        "employeeName":
                                        rowData.employee.employeeName,
                                        "employeePassword":
                                        rowData.employee.employeePassword,
                                        "employeeOnline":
                                        rowData.employee.employeeOnline,
                                        "employeeLastLoginTime":
                                        rowData.employee.employeeLastLoginTime,
                                        "employeeDetail":
                                            {
                                                "employeeDetailId":
                                                rowData.employee.employeeDetail.employeeDetailId,
                                                "employeeDetailGender":
                                                rowData.employee.employeeDetail.employeeDetailGender,
                                                "employeeDetailBirthday":
                                                rowData.employee.employeeDetail.employeeDetailBirthday,
                                                "employeeDetailAddress":
                                                rowData.employee.employeeDetail.employeeDetailAddress,
                                                "employeeDetailPhone":
                                                rowData.employee.employeeDetail.employeeDetailPhone,
                                                "employeeDetailIdentity":
                                                rowData.employee.employeeDetail.employeeDetailIdentity,
                                                "employeeDetailEntryTime":
                                                rowData.employee.employeeDetail.employeeDetailEntryTime,
                                                "employeeDetailEmail":
                                                rowData.employee.employeeDetail.employeeDetailEmail,
                                                "employeeDetailDescript":
                                                rowData.employee.employeeDetail.employeeDetailDescript,
                                                "employeeDetailStatus":
                                                rowData.employee.employeeDetail.employeeDetailStatus,
                                                "employeeId":
                                                rowData.employee.employeeDetail.employeeId,
                                                "positionId":
                                                rowData.employee.employeeDetail.positionId,
                                                "branchId":
                                                rowData.employee.employeeDetail.branchId,
                                                "titleId":
                                                rowData.employee.employeeDetail.titleId
                                            }
                                    }
                                ,
                                "branch":
                                    {
                                        "branchId":
                                        rowData.branch.branchId,
                                        "branchName":
                                        rowData.branch.branchName,
                                        "departmentId":
                                        rowData.branch.departmentId
                                    }
                            })

                            ,
                            success: function () {

                                window.location.href = '/page/diagnosis/add';
                            }
                            ,
                            error: function () {
                                layer.msg("连接后台失败");
                            }
                        }
                    )
                    ;
                    break;
                case
                'deal'
                :
                    console.info(rowData.employee.employeeDetail.employeeDetailEntryTime);
                    console.info(rowData.appointmentTime);
                    $.ajax({
                        type: "post",
                        url: "/page/test",
                        data: {
                            "id": "1000",
                            "age": 18,
                            "name": rowData.branch.branchName,
                            "password": "123456",
                            "date": rowData.appointmentTime
                        },
                        error: function () {
                            layer.msg("连接后台失败");
                        }
                    });
                    break;
            }
        });
    });

</script>
</body>
<!--================ 模态框：添加手术 ================-->
<div id="openOperation" style="display: none">
    <form class="layui-form" lay-filter="checkItemFormFilter">
        <div class="layui-form-item">
            <label class="layui-form-label">手术名：</label>
            <div class="layui-input-block">
                <div class="layui-input-block">
                    <div class="layui-input-block">
                        <input type="text" id="send_operation_name" placeholder="请输入手术名" autocomplete="off"
                               class="layui-input"/>
                    </div>
                </div>
                <input type="text" id="send_operation_diagnosisId"
                       th:value="${session.diagnosis.diagnosisId}"
                       hidden="hidden"/>
            </div>
        </div>
    </form>
</div>

<!--================ 模态框：选择检查项 ================-->
<div id="openCheck" style="display: none">
    <form class="layui-form" lay-filter="checkItemFormFilter">
        <div class="layui-form-item">
            <label class="layui-form-label">检查项：</label>
            <div class="layui-input-block">
                <div class="layui-input-block" th:if="${session.checkItems}!=null">
                    <div class="layui-input-block">
                        <input th:each="checkItem:${session.checkItems}" type="checkbox" name="checkItem"
                               id="send_checkItem"
                               th:title="${checkItem.checkItemName}"
                               th:value="${checkItem.checkItemId}"/>
                    </div>
                </div>
                <input type="text" id="send_checkItem_diagnosisId" th:value="${session.diagnosis.diagnosisId}"
                       hidden="hidden"/>
            </div>
        </div>
    </form>
</div>

</html>
