<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--================ 网页头部 ================-->
    <div th:replace="~{com/attending::head}"></div>

    <!--================ 网页左侧导航栏 ================-->
    <div th:replace="~{com/attending::left_diagnosis}"></div>

    <!--================ 主体内容区 ================-->
    <div class="layui-body">
        <div style="padding: 15px;">
            <!--==== 显示诊断的表单 =====-->
            <table class="layui-table" id="diagnosis_table" lay-filter="diagnosis_table_filter">
            </table>
        </div>
    </div>
</div>


<!--================ 工具条：操作处理 ================-->
<script type="text/html" id="operation_bar">
    <a class="layui-btn layui-btn-xs" lay-event="search_diagnosis_medicine_event">查看处方</a>
</script>

<!--================ js代码区域 ================-->
<script>
    layui.use(['element', 'table', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;

        table.render({
            elem: '#diagnosis_table'
            , height: 600
            , url: '/diagnosis/dealtDiagnosis' //数据接口
            , method: 'get'
            , page: true //开启分页
            , cols: [
                [
                    {
                        field: 'patientName', title: '患者', fixed: 'left', width: 120, templet: function (diagnosis) {
                            return diagnosis.appointment.patient.patientName;
                        }
                    }
                    , {field: 'diagnosisTime', title: '诊断时间', width: 200, sort: true}
                    , {
                    field: 'branchName', title: '科室', width: 150, templet: function (diagnosis) {
                        return diagnosis.appointment.branch.branchName;
                    }
                }
                    , {field: 'diagnosisContent', title: '病情'}
                    , {
                    field: 'diagnosisIsCheck', width: 120, title: '是否检查', templet: function (diagnosis) {
                        return diagnosis.diagnosisIsCheck == 1 ? "是" : "否";
                    }
                }
                    , {
                    field: 'diagnosisIsOperation', width: 120, title: '是否手术', templet: function (diagnosis) {
                        return diagnosis.diagnosisIsOperation == 1 ? "是" : "否";
                    }
                }
                    , {
                    field: 'employeeName', title: '医师', width: 120, templet: function (diagnosis) {
                        return diagnosis.appointment.employee.employeeName;
                    }
                }
                    , {title: '操作', fixed: 'right', align: 'center', toolbar: '#operation_bar'}
                ]
            ]
        });

        //监听操作事件
        table.on('tool(diagnosis_table_filter)', function (obj) {
            //获取当前行的数据
            var rowData = obj.data;
            switch (obj.event) {
                //查看处方
                case 'search_diagnosis_medicine_event':
                    //显示处方
                    layer.open({
                        type: 1,//类型，新页面
                        area: ['50%', '50%'],//定义宽和高
                        title: '查看处方',//题目
                        shadeClose: true,//点击遮罩层关闭
                        content: $('#show_diagnosis_prescription'), //打开的内容
                        btn: ["关闭"],//添加按钮
                        success: function (layero, index) {
                            // 弹出页面成功后操作，可以修改一些值，如给某个input赋值
                            $("#show_patient_name").val(rowData.appointment.patient.patientName);
                            $("#show_diagnosis_content").val(rowData.diagnosisContent);
                            $("#show_diagnosis_medicine").val(rowData.diagnosisPrescription);
                        },
                        yes: function (index, layero) {
                            //yes默认触发第一个按钮事件
                            layer.close(index);
                        }
                    });
                    break;
            }
        });
    });

</script>
</body>
<!--================ 模态框：查看患者处方 ================-->
<div id="show_diagnosis_prescription" style="display: none">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label" for="show_patient_name">患者名：</label>
            <div class="layui-input-block">
                <div class="layui-input-block">
                    <div class="layui-input-block">
                        <input type="text" name="show_patient_name" id="show_patient_name" autocomplete="off"
                               class="layui-input" readonly="readonly"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="show_diagnosis_content">病情诊断：</label>
            <div class="layui-input-block">
                <div class="layui-input-block">
                    <div class="layui-input-block">
                        <input type="text" name="show_diagnosis_content" id="show_diagnosis_content"
                               autocomplete="off" class="layui-input" readonly="readonly"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="show_diagnosis_medicine">处方：</label>
            <div class="layui-input-block">
                <div class="layui-input-block">
                    <div class="layui-input-block">
                        <input type="text" name="show_diagnosis_medicine" id="show_diagnosis_medicine"
                               autocomplete="off" class="layui-input" readonly="readonly"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--================ 模态框代码结束 ================-->
</html>
