<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{com/admin::admin_head}"></div>

    <div th:replace="~{com/admin::admin_left_room}"></div>

    <!--================ 主体内容区 ================-->
    <div class="layui-body">
        <div style="padding: 15px;">
            <!--==== 显示所有病床信息 =====-->
            <table class="layui-table" id="bed_table" lay-filter="bed_table_filter">
            </table>
        </div>
    </div>

    <div th:replace="~{com/admin::foot}"></div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['element', 'table'], function () {
        var element = layui.element;
        var table = layui.table;

        table.render({
            elem: '#bed_table'
            , height: 500
            , url: '/bed/queryAllBed' //数据接口
            , method: 'get'
            , page: true //开启分页
            , cols: [
                [
                    {
                        field: 'roomId', title: '病房', fixed: 'left', templet: function (bed) {
                            return bed.roomId;
                        }
                    },
                    {
                        field: 'bedName', title: '病床名称', fixed: 'left', templet: function (bed) {
                            return bed.bedName;
                        }
                    },
                    {
                        field: 'bedStatus', title: '病床状态', fixed: 'left', templet: function (bed) {
                            if (bed.bedStatus == '0') {
                                return "空闲";
                            } else {
                                return "占用";
                            }
                            // return bed.bedStatus='0'?"空闲":bed.bedStatus;
                        }
                    },
                    {
                        field: 'bedPrice', title: '病床价格', templet: function (bed) {
                            return bed.bedPrice;
                        }
                    },
                    {
                        field: 'patientName', title: '患者', templet: function (bed) {
                            return bed.patient==null?"空":bed.patient.patientName;
                        }
                    },

                    {
                        field: 'employeeName', title: '处理护士', templet: function (bed) {
                            return bed.employee==null?"空":bed.employee.employeeName;
                        }
                    },
                    {
                        field: 'bedEntryTime', width: 170, title: '入住时间', sort: true
                    },
                    {
                        field: 'bedLeaveTime', width: 170, title: '离开时间', sort: true
                    }
                    // ,
                    // {title: '操作', fixed: 'right', align: 'center', toolbar: '#optBar'}
                ]
            ]
        });
    });

</script>
</body>
</html>