<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="admin_title">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</div>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域 -->
    <div th:fragment="admin_head">
        <div class="layui-header">
            <div class="layui-logo">有间医院自动化管理系统</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a th:href="@{/page/admin/employee/report}">员工管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/page/admin/permission/index}">权限管理</a></li>
                <!--<li class="layui-nav-item"><a th:href="@{/page/admin/report}">医药报表</a></li>-->
                <li class="layui-nav-item"><a th:href="@{/page/admin/doctor/appointment}">医师管理</a></li>
                 <li class="layui-nav-item"><a th:href="@{/page/admin/nurse/inpatient}">护士管理</a></li>
                 <li class="layui-nav-item"><a th:href="@{/page/admin/room/ward_room}">区域管理</a></li>
                 <li class="layui-nav-item"><a th:href="@{/page/admin/medicine/index}">医药管理</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><a>院长</a></li>
                <li class="layui-nav-item"><a th:href="@{/logout}">退出登录</a></li>
            </ul>
        </div>
    </div>

    <!--员工模块-->
    <div th:fragment="admin_left_employee">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item">
                        <a th:href="@{/page/admin/employee/report}">员工报表</a>
                    </li>
                    <li class="layui-nav-item">
                        <a th:href="@{/page/admin/employee/index}">查看员工</a>
                    </li>
                    <li class="layui-nav-item">
                        <a th:href="@{/page/admin/employee/add}">添加员工</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--医药模块-->
    <div th:fragment="admin_left_medicine">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item">
                        <a th:href="@{/page/admin/medicine/report}">医药报表</a>
                    </li>
                    <li class="layui-nav-item">
                        <a th:href="@{/page/admin/medicine/index}">库存情况</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--权限模块-->
    <div th:fragment="admin_left_permission">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/page/admin/permission/index">查看权限</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="/page/admin/permission/add">添加权限</a>
                    </li>
                    <!--<li class="layui-nav-item">-->
                    <!--    <a href="/page/admin/permission/update">修改权限</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <!--医师模块-->
    <div th:fragment="admin_left_doctor">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                     <li class="layui-nav-item">
                        <a href="/page/admin/doctor/work">值班情况</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/page/admin/doctor/appointment">预约记录</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="/page/admin/doctor/diagnosis">诊断记录</a>
                    </li>
                     <li class="layui-nav-item">
                        <a href="/page/admin/doctor/operation">手术记录</a>
                    </li>
                     <li class="layui-nav-item">
                        <a href="/page/admin/doctor/dispensing">发药记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--护士模块-->
    <div th:fragment="admin_left_nurse">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                     <li class="layui-nav-item">
                        <a href="/page/admin/nurse/inpatient">住院记录</a>
                    </li>
                     <li class="layui-nav-item">
                        <a href="/page/admin/nurse/check">检查记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--房间模块-->
    <div th:fragment="admin_left_room">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/page/admin/room/ward_room">住院区</a>
                    </li>
                     <li class="layui-nav-item">
                        <a href="/page/admin/room/check_room">检查区</a>
                    </li>
                     <li class="layui-nav-item">
                        <a href="/page/admin/room/inpatient_room">手术区</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/page/admin/room/consult_room">诊室区</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--护士模块-->
    <div th:fragment="admin_left_medicine">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                     <li class="layui-nav-item">
                        <a href="/page/admin/medicine/index">药品查看</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="foot">
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            有事请联系管理员，管理员联系电话：1008610010
        </div>
    </div>
</div>
</body>
</html>