<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="title">
    <meta charset="utf-8">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</div>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域 -->
    <div th:fragment="head">
        <div class="layui-header">
            <div class="layui-logo">医院自动化管理系统</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a th:href="@{/page/appointment/index}">预约处理</a></li>
                <li class="layui-nav-item"><a th:href="@{/page/diagnosis/dealing}">诊断处理</a></li>
                <!--<li class="layui-nav-item"><a th:href="@{/page/operation/index}">手术管理</a></li>-->
                <li class="layui-nav-item"><a th:href="@{/page/work/index}">值班管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/page/employee/index}">个人中心</a></li>

            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item" th:if="${session.employee}!=null">
                    <a th:href="@{/page/employee/index}">[[${session.employee.employeeName}]]</a>
                </li>

                <li class="layui-nav-item" th:if="${session.employee}==null">
                    <a th:href="@{/}">你还没登录，请登录</a>
                </li>
                <li class="layui-nav-item"><a th:href="@{/logout}">退出登录</a></li>
            </ul>
        </div>
    </div>

    <!--诊断模块-->
    <div th:fragment="left_diagnosis">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/page/diagnosis/add">添加诊断</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/page/diagnosis/dealing">正在诊断</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/page/diagnosis/record">诊断记录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--手术模块-->
    <div th:fragment="left_operation">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/page/operation/findopertion">查看手术</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--员工模块-->
    <div th:fragment="left_employee">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/page/employee/index">个人基本信息</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/page/employee/update">修改个人信息</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--值班模块-->
    <div th:fragment="left_work">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">值班安排</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!--预约模块-->
    <div th:fragment="left_appointment">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/page/appointment/index">待处理预约</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/page/appointment/deal">已处理预约</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div th:fragment="foot">
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            有事请联系管理员，管理员联系电话：1008610010
        </div>
    </div>
</div>
</body>
</html>