<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>有间医院自动化管理系统</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{com/medicine::dispensing_head}"></div>

    <div th:replace="~{com/medicine::left_medicine}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table" id="medicineTable" lay-filter="tableFilter">
            </table>
        </div>
    </div>

    <div th:replace="~{com/medicine::foot}"></div>
</div>
<script type="text/html" id="optBar">
    <a class="layui-btn layui-btn-xs" lay-event="show_diagnosisMedicineDetail">查看处方详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="update_diagnosisMedicine">发药</a>
</script>
<script>

    //JavaScript代码区域
    layui.use(['layer', 'element', 'table', 'form'], function () {
        var layer = layui.layer;
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;

        table.render({
            elem: '#medicineTable'
            , height: 600
            , url: '/employee/medicines' //数据接口
            , method: 'get'
            , page: true //开启分页
            , cols: [
                [
                    {
                        field: 'medicineName', title: '药品名', width: 160
                    }, {
                    field: 'medicineType', title: '药品类型', width: 120
                }, {
                    field: 'medicineInventory', title: '库存', width: 70
                }, {
                    field: 'medicineCharacter', title: '性状'
                }, {
                    field: 'medicineSave', title: '存储方式'
                }, {
                    field: 'medicinePrice', title: '价格', width: 70
                }, {
                    field: 'medicineConfict', title: '药性相冲'
                }
                ]
            ]
        });

        table.on('tool(tableFilter)', function (obj) {
            //获取当前行的数据
            var rowData = obj.data;

        });
    });

</script>
</body>


</html>