<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.AiGuideMapper">

    <resultMap type="com.ys.hospital.pojo.AiGuide" id="AiGuideMap">
        <result property="aiguideId" column="AIguide_id" jdbcType="INTEGER"/>
        <result property="aiguideKey" column="AIguide_key" jdbcType="VARCHAR"/>
        <result property="aiguideContent" column="AIguide_content" jdbcType="VARCHAR"/>
    </resultMap>
    <!--    查找智能回复内容-->
    <select id="guide" resultType="com.ys.hospital.pojo.AiGuide">
        SELECT
        ai_guide.AIguide_id,
        ai_guide.AIguide_key,
        ai_guide.AIguide_content
        FROM
        ai_guide
        WHERE
        ai_guide.AIguide_key LIKE CONCAT(CONCAT('%',#{key}),'%')
    </select>

</mapper>