<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.AiPrescriptionMapper">

    <resultMap type="com.ys.hospital.pojo.AiPrescription" id="AiPrescriptionMap">
        <result property="aiPrescriptionId" column="ai_prescription_id" jdbcType="INTEGER"/>
        <result property="aiPrescriptionKey" column="ai_prescription_key" jdbcType="VARCHAR"/>
        <result property="aiPrescriptionTime" column="ai_prescription_time" jdbcType="TIMESTAMP"/>
        <result property="aiPrescriptionCreator" column="ai_prescription_creator" jdbcType="VARCHAR"/>
        <result property="aiPrescriptionModifyTime" column="ai_prescription_modify_time" jdbcType="TIMESTAMP"/>
        <result property="aiPrescriptionModifyEmployee" column="ai_prescription_modify_employee" jdbcType="VARCHAR"/>
        <result property="aiPrescriptionContent" column="ai_prescription_content" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询所有AiPrescription信息-->
    <select id="queryAllAiPrescription" resultMap="AiPrescriptionMap">
        select
          ai_prescription_id, ai_prescription_key, ai_prescription_time, ai_prescription_creator, ai_prescription_modify_time, ai_prescription_modify_employee, ai_prescription_content
        from ai_prescription
    </select>

    <!--根据实体类AiPrescription的相关属性查询实体类AiPrescription-->
    <select id="queryAiPrescriptionByParam" resultMap="AiPrescriptionMap">
        select
          ai_prescription_id, ai_prescription_key, ai_prescription_time, ai_prescription_creator, ai_prescription_modify_time, ai_prescription_modify_employee, ai_prescription_content
        from ai_prescription
        <where>
            <if test="aiPrescriptionId != null">
                and ai_prescription_id = #{aiPrescriptionId}
            </if>
            <if test="aiPrescriptionKey != null and aiPrescriptionKey != ''">
                and ai_prescription_key = #{aiPrescriptionKey}
            </if>
            <if test="aiPrescriptionTime != null">
                and ai_prescription_time = #{aiPrescriptionTime}
            </if>
            <if test="aiPrescriptionCreator != null and aiPrescriptionCreator != ''">
                and ai_prescription_creator = #{aiPrescriptionCreator}
            </if>
            <if test="aiPrescriptionModifyTime != null">
                and ai_prescription_modify_time = #{aiPrescriptionModifyTime}
            </if>
            <if test="aiPrescriptionModifyEmployee != null and aiPrescriptionModifyEmployee != ''">
                and ai_prescription_modify_employee = #{aiPrescriptionModifyEmployee}
            </if>
            <if test="aiPrescriptionContent != null and aiPrescriptionContent != ''">
                and ai_prescription_content = #{aiPrescriptionContent}
            </if>
        </where>
    </select>

    <!--新增AiPrescription数据-->
    <insert id="insertAiPrescription" keyProperty="aiPrescriptionId" useGeneratedKeys="true">
        insert into ai_prescription(ai_prescription_key, ai_prescription_time, ai_prescription_creator, ai_prescription_modify_time, ai_prescription_modify_employee, ai_prescription_content)
        values (#{aiPrescriptionKey}, #{aiPrescriptionTime}, #{aiPrescriptionCreator}, #{aiPrescriptionModifyTime}, #{aiPrescriptionModifyEmployee}, #{aiPrescriptionContent})
    </insert>

    <!--修改AiPrescription记录-->
    <update id="updateAiPrescription">
        update ai_prescription
        <set>
            <if test="aiPrescriptionKey != null and aiPrescriptionKey != ''">
                ai_prescription_key = #{aiPrescriptionKey},
            </if>
            <if test="aiPrescriptionTime != null">
                ai_prescription_time = #{aiPrescriptionTime},
            </if>
            <if test="aiPrescriptionCreator != null and aiPrescriptionCreator != ''">
                ai_prescription_creator = #{aiPrescriptionCreator},
            </if>
            <if test="aiPrescriptionModifyTime != null">
                ai_prescription_modify_time = #{aiPrescriptionModifyTime},
            </if>
            <if test="aiPrescriptionModifyEmployee != null and aiPrescriptionModifyEmployee != ''">
                ai_prescription_modify_employee = #{aiPrescriptionModifyEmployee},
            </if>
            <if test="aiPrescriptionContent != null and aiPrescriptionContent != ''">
                ai_prescription_content = #{aiPrescriptionContent},
            </if>
        </set>
        where ai_prescription_id = #{aiPrescriptionId}
    </update>

    <!--通过主键删除一条AiPrescription记录-->
    <delete id="deleteAiPrescriptionById">
        delete from ai_prescription where ai_prescription_id = #{aiPrescriptionId}
    </delete>

</mapper>