<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.BedMapper">

    <resultMap type="com.ys.hospital.pojo.Bed" id="BedMap">
        <result property="bedId" column="bed_id" jdbcType="INTEGER"/>
        <result property="bedName" column="bed_name" jdbcType="VARCHAR"/>
        <result property="bedStatus" column="bed_status" jdbcType="INTEGER"/>
        <result property="bedEntryTime" column="bed_entry_time" jdbcType="TIMESTAMP"/>
        <result property="bedLeaveTime" column="bed_leave_time" jdbcType="TIMESTAMP"/>
        <result property="bedPrice" column="bed_price" jdbcType="NUMERIC"/>
        <result property="patientId" column="patient_id" jdbcType="INTEGER"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有Bed信息-->
    <select id="queryAllBed" resultMap="BedMap">
        select
          bed_id, bed_name, bed_status, bed_entry_time, bed_leave_time, bed_price, patient_id, room_id, employee_id
        from bed
    </select>

    <!--根据实体类Bed的相关属性查询实体类Bed-->
    <select id="queryBedByParam" resultMap="BedMap">
        select
          bed_id, bed_name, bed_status, bed_entry_time, bed_leave_time, bed_price, patient_id, room_id, employee_id
        from bed
        <where>
            <if test="bedId != null">
                and bed_id = #{bedId}
            </if>
            <if test="bedName != null and bedName != ''">
                and bed_name = #{bedName}
            </if>
            <if test="bedStatus != null">
                and bed_status = #{bedStatus}
            </if>
            <if test="bedEntryTime != null">
                and bed_entry_time = #{bedEntryTime}
            </if>
            <if test="bedLeaveTime != null">
                and bed_leave_time = #{bedLeaveTime}
            </if>
            <if test="bedPrice != null">
                and bed_price = #{bedPrice}
            </if>
            <if test="patientId != null">
                and patient_id = #{patientId}
            </if>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
        </where>
    </select>

    <!--新增Bed数据-->
    <insert id="insertBed" keyProperty="bedId" useGeneratedKeys="true">
        insert into bed(bed_name, bed_status, bed_entry_time, bed_leave_time, bed_price, patient_id, room_id, employee_id)
        values (#{bedName}, #{bedStatus}, #{bedEntryTime}, #{bedLeaveTime}, #{bedPrice}, #{patientId}, #{roomId}, #{employeeId})
    </insert>

    <!--修改Bed记录-->
    <update id="updateBed">
        update bed
        <set>
            <if test="bedName != null and bedName != ''">
                bed_name = #{bedName},
            </if>
            <if test="bedStatus != null">
                bed_status = #{bedStatus},
            </if>
            <if test="bedEntryTime != null">
                bed_entry_time = #{bedEntryTime},
            </if>
            <if test="bedLeaveTime != null">
                bed_leave_time = #{bedLeaveTime},
            </if>
            <if test="bedPrice != null">
                bed_price = #{bedPrice},
            </if>
            <if test="patientId != null">
                patient_id = #{patientId},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
        </set>
        where bed_id = #{bedId}
    </update>

    <!--通过主键删除一条Bed记录-->
    <delete id="deleteBedById">
        delete from bed where bed_id = #{bedId}
    </delete>

</mapper>