<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.BranchMapper">

    <resultMap type="com.ys.hospital.pojo.Branch" id="BranchMap">
        <result property="branchId" column="branch_id" jdbcType="INTEGER"/>
        <result property="branchName" column="branch_name" jdbcType="VARCHAR"/>
        <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有Branch信息-->
    <select id="queryAllBranch" resultMap="BranchMap">
        select
          branch_id, branch_name, department_id
        from branch
    </select>

    <!--根据实体类Branch的相关属性查询实体类Branch-->
    <select id="queryBranchByParam" resultMap="BranchMap">
        select
        branch_id, branch_name, department_id
        from branch
        <where>
            <if test="branchId != null">
                and branch_id = #{branchId}
            </if>
            <if test="branchName != null and branchName != ''">
                and branch_name = #{branchName}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
        </where>
    </select>

    <!--新增Branch数据-->
    <insert id="insertBranch" keyProperty="branchId" useGeneratedKeys="true">
        insert into branch(branch_name, department_id)
        values (#{branchName}, #{departmentId})
    </insert>

    <!--修改Branch记录-->
    <update id="updateBranch">
        update branch
        <set>
            <if test="branchName != null and branchName != ''">
                branch_name = #{branchName},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
        </set>
        where branch_id = #{branchId}
    </update>

    <!--通过主键删除一条Branch记录-->
    <delete id="deleteBranchById">
        delete from branch where branch_id = #{branchId}
    </delete>

    <!--    根据父科目id查询其所有子科目-->
    <select id="getBranchListByDepartmentId" resultType="com.ys.hospital.pojo.Branch">
        SELECT
        branch.branch_id,
        branch.branch_name,
        branch.department_id
        FROM
        branch
        WHERE
        branch.department_id = #{departmentId}
    </select>

</mapper>