<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.CheckItemMapper">

    <resultMap type="com.ys.hospital.pojo.CheckItem" id="CheckItemMap">
        <result property="checkItemId" column="check_item_id" jdbcType="INTEGER"/>
        <result property="checkItemName" column="check_item_name" jdbcType="VARCHAR"/>
        <result property="checkItemPrice" column="check_item_price" jdbcType="NUMERIC"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有CheckItem信息-->
    <select id="queryAllCheckItem" resultMap="CheckItemMap">
        select
          check_item_id, check_item_name, check_item_price, room_id
        from check_item
    </select>

    <!--根据实体类CheckItem的相关属性查询实体类CheckItem-->
    <select id="queryCheckItemByParam" resultMap="CheckItemMap">
        select
          check_item_id, check_item_name, check_item_price, room_id
        from check_item
        <where>
            <if test="checkItemId != null">
                and check_item_id = #{checkItemId}
            </if>
            <if test="checkItemName != null and checkItemName != ''">
                and check_item_name = #{checkItemName}
            </if>
            <if test="checkItemPrice != null">
                and check_item_price = #{checkItemPrice}
            </if>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
        </where>
    </select>

    <!--新增CheckItem数据-->
    <insert id="insertCheckItem" keyProperty="checkItemId" useGeneratedKeys="true">
        insert into check_item(check_item_name, check_item_price, room_id)
        values (#{checkItemName}, #{checkItemPrice}, #{roomId})
    </insert>

    <!--修改CheckItem记录-->
    <update id="updateCheckItem">
        update check_item
        <set>
            <if test="checkItemName != null and checkItemName != ''">
                check_item_name = #{checkItemName},
            </if>
            <if test="checkItemPrice != null">
                check_item_price = #{checkItemPrice},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
        </set>
        where check_item_id = #{checkItemId}
    </update>

    <!--通过主键删除一条CheckItem记录-->
    <delete id="deleteCheckItemById">
        delete from check_item where check_item_id = #{checkItemId}
    </delete>

</mapper>