<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.CheckDetailMapper">

    <resultMap type="com.ys.hospital.pojo.CheckDetail" id="CheckDetailMap">
        <result property="checkDetailId" column="check_detail_id" jdbcType="INTEGER"/>
        <result property="checkId" column="check_id" jdbcType="INTEGER"/>
        <result property="checkItemId" column="check_item_id" jdbcType="INTEGER"/>
        <result property="checkDetailResult" column="check_detail_result" jdbcType="VARCHAR"/>
        <result property="checkDetailPayStatus" column="check_detail_pay_status" jdbcType="INTEGER"/>
        <result property="checkDetailPayPrice" column="check_detail_pay_price" jdbcType="NUMERIC"/>
        <result property="checkDetailPayTime" column="check_detail_pay_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询所有CheckDetail信息-->
    <select id="queryAllCheckDetail" resultMap="CheckDetailMap">
        select
        check_detail_id, check_id, check_item_id, check_detail_result, check_detail_pay_status, check_detail_pay_price,
        check_detail_pay_time
        from check_detail
    </select>

    <!--根据实体类CheckDetail的相关属性查询实体类CheckDetail-->
    <select id="queryCheckDetailByParam" resultMap="CheckDetailMap">
        select
        check_detail_id, check_id, check_item_id, check_detail_result, check_detail_pay_status, check_detail_pay_price,
        check_detail_pay_time
        from check_detail
        <where>
            <if test="checkDetailId != null">
                and check_detail_id = #{checkDetailId}
            </if>
            <if test="checkId != null">
                and check_id = #{checkId}
            </if>
            <if test="checkItemId != null">
                and check_item_id = #{checkItemId}
            </if>
            <if test="checkDetailResult != null and checkDetailResult != ''">
                and check_detail_result = #{checkDetailResult}
            </if>
            <if test="checkDetailPayStatus != null">
                and check_detail_pay_status = #{checkDetailPayStatus}
            </if>
            <if test="checkDetailPayPrice != null">
                and check_detail_pay_price = #{checkDetailPayPrice}
            </if>
            <if test="checkDetailPayTime != null">
                and check_detail_pay_time = #{checkDetailPayTime}
            </if>
        </where>
    </select>

    <!--新增CheckDetail数据-->
    <insert id="insertCheckDetail" keyProperty="checkDetailId" useGeneratedKeys="true">
        insert into check_detail(check_id, check_item_id, check_detail_result, check_detail_pay_status,
        check_detail_pay_price, check_detail_pay_time)
        values (#{checkId}, #{checkItemId}, #{checkDetailResult}, #{checkDetailPayStatus}, #{checkDetailPayPrice},
        #{checkDetailPayTime})
    </insert>

    <!--修改CheckDetail记录-->
    <update id="updateCheckDetail">
        update check_detail
        <set>
            <if test="checkId != null">
                check_id = #{checkId},
            </if>
            <if test="checkItemId != null">
                check_item_id = #{checkItemId},
            </if>
            <if test="checkDetailResult != null and checkDetailResult != ''">
                check_detail_result = #{checkDetailResult},
            </if>
            <if test="checkDetailPayStatus != null">
                check_detail_pay_status = #{checkDetailPayStatus},
            </if>
            <if test="checkDetailPayPrice != null">
                check_detail_pay_price = #{checkDetailPayPrice},
            </if>
            <if test="checkDetailPayTime != null">
                check_detail_pay_time = #{checkDetailPayTime},
            </if>
        </set>
        where check_detail_id = #{checkDetailId}
    </update>

    <!--通过主键删除一条CheckDetail记录-->
    <delete id="deleteCheckDetailById">
        delete from check_detail where check_detail_id = #{checkDetailId}
    </delete>

</mapper>