<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.CheckMapper">

    <resultMap type="com.ys.hospital.pojo.Check" id="CheckMap">
        <result property="checkId" column="check_id" jdbcType="INTEGER"/>
        <result property="checkStatus" column="check_status" jdbcType="INTEGER"/>
        <result property="checkTime" column="check_time" jdbcType="TIMESTAMP"/>
        <result property="checkPrice" column="check_price" jdbcType="NUMERIC"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="diagnosisId" column="diagnosis_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有Check信息-->
    <select id="queryAllCheck" resultMap="CheckMap">
        select
        check_id, check_status, check_time, check_price, employee_id, diagnosis_id
        from check
    </select>

    <!--根据实体类Check的相关属性查询实体类Check-->
    <select id="queryCheckByParam" resultMap="CheckMap">
        select
        check_id, check_status, check_time, check_price, employee_id, diagnosis_id
        from check
        <where>
            <if test="checkId != null">
                and check_id = #{checkId}
            </if>
            <if test="checkStatus != null">
                and check_status = #{checkStatus}
            </if>
            <if test="checkTime != null">
                and check_time = #{checkTime}
            </if>
            <if test="checkPrice != null">
                and check_price = #{checkPrice}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="diagnosisId != null">
                and diagnosis_id = #{diagnosisId}
            </if>
        </where>
    </select>

    <!--新增Check数据-->
    <insert id="insertCheck" keyProperty="checkId" useGeneratedKeys="true">
        insert into check(check_status, check_time, check_price, employee_id, diagnosis_id)
        values (#{checkStatus}, #{checkTime}, #{checkPrice}, #{employeeId}, #{diagnosisId})
    </insert>

    <!--修改Check记录-->
    <update id="updateCheck">
        update check
        <set>
            <if test="checkStatus != null">
                check_status = #{checkStatus},
            </if>
            <if test="checkTime != null">
                check_time = #{checkTime},
            </if>
            <if test="checkPrice != null">
                check_price = #{checkPrice},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="diagnosisId != null">
                diagnosis_id = #{diagnosisId},
            </if>
        </set>
        where check_id = #{checkId}
    </update>

    <!--通过主键删除一条Check记录-->
    <delete id="deleteCheckById">
        delete from check where check_id = #{checkId}
    </delete>

</mapper>