<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.ClientMapper">

    <resultMap type="com.ys.hospital.pojo.Client" id="ClientMap">
        <result property="clientId" column="client_id" jdbcType="INTEGER"/>
        <result property="clientPhone" column="client_phone" jdbcType="VARCHAR"/>
        <result property="clientPassword" column="client_password" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询所有Client信息-->
    <select id="queryAllClient" resultMap="ClientMap">
        select
          client_id, client_phone, client_password
        from client
    </select>

    <!--根据实体类Client的相关属性查询实体类Client-->
    <select id="queryClientByParam" resultMap="ClientMap">
        select
          client_id, client_phone, client_password
        from client
        <where>
            <if test="clientId != null">
                and client_id = #{clientId}
            </if>
            <if test="clientPhone != null and clientPhone != ''">
                and client_phone = #{clientPhone}
            </if>
            <if test="clientPassword != null and clientPassword != ''">
                and client_password = #{clientPassword}
            </if>
        </where>
    </select>

    <!--新增Client数据-->
    <insert id="insertClient" keyProperty="clientId" useGeneratedKeys="true">
        insert into client(client_phone, client_password)
        values (#{clientPhone}, #{clientPassword})
    </insert>

    <!--修改Client记录-->
    <update id="updateClient">
        update client
        <set>
            <if test="clientPhone != null and clientPhone != ''">
                client_phone = #{clientPhone},
            </if>
            <if test="clientPassword != null and clientPassword != ''">
                client_password = #{clientPassword},
            </if>
        </set>
        where client_id = #{clientId}
    </update>

    <!--通过主键删除一条Client记录-->
    <delete id="deleteClientById">
        delete from client where client_id = #{clientId}
    </delete>

</mapper>