<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.DepartmentMapper">


    <resultMap type="com.ys.hospital.pojo.Department" id="DepartmentMap">
        <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
        <result property="departmentName" column="department_name" jdbcType="VARCHAR"/>
        <collection property="branches" ofType="com.ys.hospital.pojo.Branch">
            <result column="branch_id" property="branchId"/>
            <result column="branch_name" property="branchName"/>
            <result column="department_id" property="departmentId"/>
        </collection>

    </resultMap>
    <select id="getDepartmentList" resultMap="DepartmentMap">
        SELECT
        department.department_id,
        department.department_name,
        branch.branch_id,
        branch.branch_name,
        branch.department_id
        FROM
        department ,
        branch
        where
        branch.department_id=department.department_id
    </select>

</mapper>