<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.DiagnosisMapper">

    <resultMap type="com.ys.hospital.pojo.Diagnosis" id="DiagnosisMap">
        <result property="diagnosisId" column="diagnosis_id" jdbcType="INTEGER"/>
        <result property="diagnosisTime" column="diagnosis_time" jdbcType="TIMESTAMP"/>
        <result property="diagnosisContent" column="diagnosis_content" jdbcType="VARCHAR"/>
        <result property="diagnosisPrescription" column="diagnosis_prescription" jdbcType="VARCHAR"/>
        <result property="diagnosisStatus" column="diagnosis_status" jdbcType="VARCHAR"/>
        <result property="diagnosisIsCheck" column="diagnosis_is_check" jdbcType="INTEGER"/>
        <result property="diagnosisIsOperation" column="diagnosis_is_operation" jdbcType="INTEGER"/>
        <result property="appointmentId" column="appointment_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有Diagnosis信息-->
    <select id="queryAllDiagnosis" resultMap="DiagnosisMap">
        select
          diagnosis_id, diagnosis_time, diagnosis_content, diagnosis_prescription, diagnosis_status, diagnosis_is_check, diagnosis_is_operation, appointment_id
        from diagnosis
    </select>

    <!--根据实体类Diagnosis的相关属性查询实体类Diagnosis-->
    <select id="queryDiagnosisByParam" resultMap="DiagnosisMap">
        select
          diagnosis_id, diagnosis_time, diagnosis_content, diagnosis_prescription, diagnosis_status, diagnosis_is_check, diagnosis_is_operation, appointment_id
        from diagnosis
        <where>
            <if test="diagnosisId != null">
                and diagnosis_id = #{diagnosisId}
            </if>
            <if test="diagnosisTime != null">
                and diagnosis_time = #{diagnosisTime}
            </if>
            <if test="diagnosisContent != null and diagnosisContent != ''">
                and diagnosis_content = #{diagnosisContent}
            </if>
            <if test="diagnosisPrescription != null and diagnosisPrescription != ''">
                and diagnosis_prescription = #{diagnosisPrescription}
            </if>
            <if test="diagnosisStatus != null and diagnosisStatus != ''">
                and diagnosis_status = #{diagnosisStatus}
            </if>
            <if test="diagnosisIsCheck != null">
                and diagnosis_is_check = #{diagnosisIsCheck}
            </if>
            <if test="diagnosisIsOperation != null">
                and diagnosis_is_operation = #{diagnosisIsOperation}
            </if>
            <if test="appointmentId != null">
                and appointment_id = #{appointmentId}
            </if>
        </where>
    </select>

    <!--新增Diagnosis数据-->
    <insert id="insertDiagnosis" keyProperty="diagnosisId" useGeneratedKeys="true">
        insert into diagnosis(diagnosis_time, diagnosis_content, diagnosis_prescription, diagnosis_status, diagnosis_is_check, diagnosis_is_operation, appointment_id)
        values (#{diagnosisTime}, #{diagnosisContent}, #{diagnosisPrescription}, #{diagnosisStatus}, #{diagnosisIsCheck}, #{diagnosisIsOperation}, #{appointmentId})
    </insert>

    <!--修改Diagnosis记录-->
    <update id="updateDiagnosis">
        update diagnosis
        <set>
            <if test="diagnosisTime != null">
                diagnosis_time = #{diagnosisTime},
            </if>
            <if test="diagnosisContent != null and diagnosisContent != ''">
                diagnosis_content = #{diagnosisContent},
            </if>
            <if test="diagnosisPrescription != null and diagnosisPrescription != ''">
                diagnosis_prescription = #{diagnosisPrescription},
            </if>
            <if test="diagnosisStatus != null and diagnosisStatus != ''">
                diagnosis_status = #{diagnosisStatus},
            </if>
            <if test="diagnosisIsCheck != null">
                diagnosis_is_check = #{diagnosisIsCheck},
            </if>
            <if test="diagnosisIsOperation != null">
                diagnosis_is_operation = #{diagnosisIsOperation},
            </if>
            <if test="appointmentId != null">
                appointment_id = #{appointmentId},
            </if>
        </set>
        where diagnosis_id = #{diagnosisId}
    </update>

    <!--通过主键删除一条Diagnosis记录-->
    <delete id="deleteDiagnosisById">
        delete from diagnosis where diagnosis_id = #{diagnosisId}
    </delete>

</mapper>