<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.DiagnosisMedicineDetailMapper">

    <resultMap type="com.ys.hospital.pojo.DiagnosisMedicineDetail" id="DiagnosisMedicineDetailMap">
        <result property="diagnosisMedicineDetailId" column="diagnosis_medicine_detail_id" jdbcType="INTEGER"/>
        <result property="medicineId" column="medicine_id" jdbcType="INTEGER"/>
        <result property="medicineNumber" column="medicine_number" jdbcType="INTEGER"/>
        <result property="diagnosisMedicineId" column="diagnosis_medicine_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有DiagnosisMedicineDetail信息-->
    <select id="queryAllDiagnosisMedicineDetail" resultMap="DiagnosisMedicineDetailMap">
        select
        diagnosis_medicine_detail_id, medicine_id, medicine_number, diagnosis_medicine_id
        from diagnosis_medicine_detail
    </select>

    <!--根据实体类DiagnosisMedicineDetail的相关属性查询实体类DiagnosisMedicineDetail-->
    <select id="queryDiagnosisMedicineDetailByParam" resultMap="DiagnosisMedicineDetailMap">
        select
        diagnosis_medicine_detail_id, medicine_id, medicine_number, diagnosis_medicine_id
        from diagnosis_medicine_detail
        <where>
            <if test="diagnosisMedicineDetailId != null">
                and diagnosis_medicine_detail_id = #{diagnosisMedicineDetailId}
            </if>
            <if test="medicineId != null">
                and medicine_id = #{medicineId}
            </if>
            <if test="medicineNumber != null">
                and medicine_number = #{medicineNumber}
            </if>
            <if test="diagnosisMedicineId != null">
                and diagnosis_medicine_id = #{diagnosisMedicineId}
            </if>
        </where>
    </select>

    <!--新增DiagnosisMedicineDetail数据-->
    <insert id="insertDiagnosisMedicineDetail" keyProperty="diagnosisMedicineDetailId" useGeneratedKeys="true">
        insert into diagnosis_medicine_detail(medicine_id, medicine_number, diagnosis_medicine_id)
        values (#{medicineId}, #{medicineNumber}, #{diagnosisMedicineId})
    </insert>

    <!--修改DiagnosisMedicineDetail记录-->
    <update id="updateDiagnosisMedicineDetail">
        update diagnosis_medicine_detail
        <set>
            <if test="medicineId != null">
                medicine_id = #{medicineId},
            </if>
            <if test="medicineNumber != null">
                medicine_number = #{medicineNumber},
            </if>
            <if test="diagnosisMedicineId != null">
                diagnosis_medicine_id = #{diagnosisMedicineId},
            </if>
        </set>
        where diagnosis_medicine_detail_id = #{diagnosisMedicineDetailId}
    </update>

    <!--通过主键删除一条DiagnosisMedicineDetail记录-->
    <delete id="deleteDiagnosisMedicineDetailById">
        delete from diagnosis_medicine_detail where diagnosis_medicine_detail_id = #{diagnosisMedicineDetailId}
    </delete>

</mapper>