<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.EmployeeMapper">

    <resultMap type="com.ys.hospital.pojo.Employee" id="EmployeeMap">
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
        <result property="employeePassword" column="employee_password" jdbcType="VARCHAR"/>
        <result property="employeeOnline" column="employee_online" jdbcType="INTEGER"/>
        <result property="employeeLastLoginTime" column="employee_last_login_time" jdbcType="TIMESTAMP"/>
        <association property="employeeDetail" javaType="com.ys.hospital.pojo.EmployeeDetail">
        </association>
    </resultMap>

    <resultMap type="com.ys.hospital.pojo.Employee" id="PermissionInfoMap">
        <collection property="roles" ofType="com.ys.hospital.pojo.Role">
            <collection property="powerDetails" ofType="com.ys.hospital.pojo.PowerDetail"></collection>
        </collection>
    </resultMap>

    <resultMap type="com.ys.hospital.pojo.Employee" id="EmployeeInfoMap">
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
        <result property="employeePassword" column="employee_password" jdbcType="VARCHAR"/>
        <result property="employeeOnline" column="employee_online" jdbcType="INTEGER"/>
        <result property="employeeLastLoginTime" column="employee_last_login_time" jdbcType="TIMESTAMP"/>
        <association property="employeeDetail" javaType="com.ys.hospital.pojo.EmployeeDetail">
            <association property="title" javaType="com.ys.hospital.pojo.Title"/>
        </association>
    </resultMap>

    <!--查询所有Employee信息-->
    <select id="queryAllEmployee" resultMap="EmployeeMap">
        select
        employee_id, employee_name, employee_password, employee_online, employee_last_login_time
        from employee
    </select>

    <!--根据实体类Employee的相关属性查询实体类Employee-->
    <select id="queryEmployeeByParam" resultMap="EmployeeMap">
        select
        employee_id, employee_name, employee_password, employee_online, employee_last_login_time
        from employee
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeName != null and employeeName != ''">
                and employee_name = #{employeeName}
            </if>
            <if test="employeePassword != null and employeePassword != ''">
                and employee_password = #{employeePassword}
            </if>
            <if test="employeeOnline != null">
                and employee_online = #{employeeOnline}
            </if>
            <if test="employeeLastLoginTime != null">
                and employee_last_login_time = #{employeeLastLoginTime}
            </if>
        </where>
    </select>
    <!--    根据主键查询员工信息（包括员工详情）-->
    <select id="getEmployeeByEmployeeId" resultMap="EmployeeInfoMap">
        SELECT
        employee.employee_id,
        employee.employee_name,
        employee.employee_password,
        employee.employee_online,
        employee.employee_last_login_time,
        employee_detail.employee_detail_id,
        employee_detail.employee_detail_gender,
        employee_detail.employee_detail_birthday,
        employee_detail.employee_detail_address,
        employee_detail.employee_detail_phone,
        employee_detail.employee_detail_identity,
        employee_detail.employee_detail_entry_time,
        employee_detail.employee_detail_email,
        employee_detail.employee_detail_descript,
        employee_detail.employee_detail_status,
        employee_detail.employee_id,
        employee_detail.position_id,
        employee_detail.branch_id,
        employee_detail.title_id,
        FROM
        employee ,
        employee_detail
        WHERE
        employee.employee_id = employee_detail.employee_id AND
        employee_detail.employee_id = #{employeeId}
    </select>
    <select id="getEmployeeListByEmployeeId" resultMap="EmployeeInfoMap">
        SELECT
        employee.employee_id,
        employee.employee_name,
        employee.employee_password,
        employee.employee_online,
        employee.employee_last_login_time,
        employee_detail.employee_detail_id,
        employee_detail.employee_detail_gender,
        employee_detail.employee_detail_birthday,
        employee_detail.employee_detail_address,
        employee_detail.employee_detail_phone,
        employee_detail.employee_detail_identity,
        employee_detail.employee_detail_entry_time,
        employee_detail.employee_detail_email,
        employee_detail.employee_detail_descript,
        employee_detail.employee_detail_status,
        employee_detail.employee_id,
        employee_detail.position_id,
        employee_detail.branch_id,
        employee_detail.title_id,
        title.title_name
        FROM
        employee ,
        employee_detail,
        title
        WHERE
        employee.employee_id = employee_detail.employee_id AND
        title.title_id=employee_detail.title_id
        employee_detail.employee_id = #{employeeId}
    </select>
    <!--    查询医院中所有在职的职位为医师信息-->
    <select id="getDoctorEmployees" resultMap="EmployeeMap">
        SELECT
        employee.employee_id,
        employee.employee_name,
        employee.employee_password,
        employee.employee_online,
        employee.employee_last_login_time,
        employee_detail.employee_detail_id,
        employee_detail.employee_detail_gender,
        employee_detail.employee_detail_birthday,
        employee_detail.employee_detail_address,
        employee_detail.employee_detail_phone,
        employee_detail.employee_detail_identity,
        employee_detail.employee_detail_entry_time,
        employee_detail.employee_detail_email,
        employee_detail.employee_detail_descript,
        employee_detail.employee_detail_status,
        employee_detail.employee_id,
        employee_detail.position_id,
        employee_detail.branch_id,
        employee_detail.title_id
        FROM
        employee,
        employee_detail,
        `position`,
        title
        WHERE
        employee.employee_id = employee_detail.employee_id
        AND employee_detail.position_id = `position`.position_id
        AND employee_detail.title_id = title.title_id
        AND employee_detail.employee_detail_status = 1
        AND employee_detail.position_id = ( SELECT `position`.position_id FROM `position` WHERE `position`.position_name
        = '医师' )
        AND ( title.title_id = 2 OR title.title_id = 1 )
    </select>
    <select id="getPermissionInfo" resultMap="PermissionInfoMap">
        SELECT
            e.employee_id,
            e.employee_name,
            e.employee_password,
            e.employee_online,
            e.employee_last_login_time,
            r.role_id,
            r.role_name,
            pd.power_detail_name,
            pd.power_detail_status,
            pd.power_detail_method,
            pd.power_detail_url,
            pd.power_detail_description,
            pd.power_id,
            pd.power_detail_id
        FROM
            employee AS e
            LEFT JOIN employee_role AS er ON e.employee_id = er.employee_id
            LEFT JOIN role AS r ON er.role_id = r.role_id
            LEFT JOIN role_power AS rp ON r.role_id = rp.role_id
            LEFT JOIN power AS p ON rp.power_id = p.power_id
            LEFT JOIN power_detail AS pd ON p.power_id = pd.power_id
        WHERE
            e.employee_id =#{employeeId}
    </select>
    <select id="queryEmployeeListByParam" resultMap="EmployeeInfoMap">
        SELECT
        employee.employee_id,
        employee.employee_name,
        employee.employee_password,
        employee.employee_online,
        employee.employee_last_login_time,
        employee_detail.employee_detail_id,
        employee_detail.employee_detail_gender,
        employee_detail.employee_detail_birthday,
        employee_detail.employee_detail_address,
        employee_detail.employee_detail_phone,
        employee_detail.employee_detail_identity,
        employee_detail.employee_detail_entry_time,
        employee_detail.employee_detail_email,
        employee_detail.employee_detail_descript,
        employee_detail.employee_detail_status,
        employee_detail.employee_id,
        employee_detail.position_id,
        employee_detail.branch_id,
        title.title_name
        FROM
        employee ,
        employee_detail,
        title
        WHERE
        employee.employee_id = employee_detail.employee_id
        AND title.title_id=employee_detail.title_id
        and employee_detail.employee_detail_status=#{employeeDetailStatus}
    </select>

    <!--新增Employee数据-->
    <insert id="insertEmployee" keyProperty="employeeId" useGeneratedKeys="true">
        insert into employee(employee_name, employee_password, employee_online, employee_last_login_time)
        values (#{employeeName}, #{employeePassword}, #{employeeOnline}, #{employeeLastLoginTime})
    </insert>

    <!--修改Employee记录-->
    <update id="updateEmployee">
        update employee
        <set>
            <if test="employeeName != null and employeeName != ''">
                employee_name = #{employeeName},
            </if>
            <if test="employeePassword != null and employeePassword != ''">
                employee_password = #{employeePassword},
            </if>
            <if test="employeeOnline != null">
                employee_online = #{employeeOnline},
            </if>
            <if test="employeeLastLoginTime != null">
                employee_last_login_time = #{employeeLastLoginTime},
            </if>
        </set>
        where employee_id = #{employeeId}
    </update>
    <update id="updateEmployeeInfo">
        update e
        <set>
            <if test="employeeName != null and employeeName != ''">
                e.employee_name = #{employeeName},
            </if>
            <if test="employeePassword != null and employeePassword != ''">
                e.employee_password = #{employeePassword},
            </if>
            <if test="employeeOnline != null">
                e.employee_online = #{employeeOnline},
            </if>
            <if test="employeeLastLoginTime != null">
                e.employee_last_login_time = #{employeeLastLoginTime},
            </if>
            <if test="employeeDetail.employeeDetailGender != null and employeeDetailGender != ''">
                ed.employee_detail_gender = #{employeeDetail.employeeDetailGender},
            </if>
            <if test="employeeDetail.employeeDetailBirthday != null">
                ed.employee_detail_birthday = #{employeeDetail.employeeDetailBirthday},
            </if>
            <if test="employeeDetail.employeeDetailAddress != null and employeeDetailAddress != ''">
                ed.employee_detail_address = #{employeeDetail.employeeDetailAddress},
            </if>
            <if test="employeeDetail.employeeDetailPhone != null and employeeDetailPhone != ''">
                ed.employee_detail_phone = #{employeeDetail.employeeDetailPhone},
            </if>
            <if test="employeeDetail.employeeDetailIdentity != null and employeeDetailIdentity != ''">
                ed.employee_detail_identity = #{employeeDetail.employeeDetailIdentity},
            </if>
            <if test="employeeDetail.employeeDetailEntryTime != null">
                ed.employee_detail_entry_time = #{employeeDetail.employeeDetailEntryTime},
            </if>
            <if test="employeeDetail.employeeDetailEmail != null and employeeDetailEmail != ''">
                ed.employee_detail_email = #{employeeDetail.employeeDetailEmail},
            </if>
            <if test="employeeDetail.employeeDetailDescript != null and employeeDetailDescript != ''">
                ed.employee_detail_descript = #{employeeDetail.employeeDetailDescript},
            </if>
            <if test="employeeDetail.employeeDetailStatus != null">
                ed.employee_detail_status = #{employeeDetail.employeeDetailStatus},
            </if>

        </set>
        from employee e
        join employee_detail ed on e.employee_id=ed.employee_id
        where e.employee_id=#{employeeId}
    </update>

    <!--通过主键删除一条Employee记录-->
    <delete id="deleteEmployeeById">
        delete from employee where employee_id = #{employeeId}
    </delete>

</mapper>