<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.EmployeeDetailMapper">

    <resultMap type="com.ys.hospital.pojo.EmployeeDetail" id="EmployeeDetailMap">
        <result property="employeeDetailId" column="employee_detail_id" jdbcType="INTEGER"/>
        <result property="employeeDetailGender" column="employee_detail_gender" jdbcType="VARCHAR"/>
        <result property="employeeDetailBirthday" column="employee_detail_birthday" jdbcType="TIMESTAMP"/>
        <result property="employeeDetailAddress" column="employee_detail_address" jdbcType="VARCHAR"/>
        <result property="employeeDetailPhone" column="employee_detail_phone" jdbcType="VARCHAR"/>
        <result property="employeeDetailIdentity" column="employee_detail_identity" jdbcType="VARCHAR"/>
        <result property="employeeDetailEntryTime" column="employee_detail_entry_time" jdbcType="TIMESTAMP"/>
        <result property="employeeDetailEmail" column="employee_detail_email" jdbcType="VARCHAR"/>
        <result property="employeeDetailDescript" column="employee_detail_descript" jdbcType="VARCHAR"/>
        <result property="employeeDetailStatus" column="employee_detail_status" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="positionId" column="position_id" jdbcType="INTEGER"/>
        <result property="branchId" column="branch_id" jdbcType="INTEGER"/>
        <result property="titleId" column="title_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有EmployeeDetail信息-->
    <select id="queryAllEmployeeDetail" resultMap="EmployeeDetailMap">
        select
          employee_detail_id, employee_detail_gender, employee_detail_birthday, employee_detail_address, employee_detail_phone, employee_detail_identity, employee_detail_entry_time, employee_detail_email, employee_detail_descript, employee_detail_status, employee_id, position_id, branch_id, title_id
        from employee_detail
    </select>

    <!--根据实体类EmployeeDetail的相关属性查询实体类EmployeeDetail-->
    <select id="queryEmployeeDetailByParam" resultMap="EmployeeDetailMap">
        select
          employee_detail_id, employee_detail_gender, employee_detail_birthday, employee_detail_address, employee_detail_phone, employee_detail_identity, employee_detail_entry_time, employee_detail_email, employee_detail_descript, employee_detail_status, employee_id, position_id, branch_id, title_id
        from employee_detail
        <where>
            <if test="employeeDetailId != null">
                and employee_detail_id = #{employeeDetailId}
            </if>
            <if test="employeeDetailGender != null and employeeDetailGender != ''">
                and employee_detail_gender = #{employeeDetailGender}
            </if>
            <if test="employeeDetailBirthday != null">
                and employee_detail_birthday = #{employeeDetailBirthday}
            </if>
            <if test="employeeDetailAddress != null and employeeDetailAddress != ''">
                and employee_detail_address = #{employeeDetailAddress}
            </if>
            <if test="employeeDetailPhone != null and employeeDetailPhone != ''">
                and employee_detail_phone = #{employeeDetailPhone}
            </if>
            <if test="employeeDetailIdentity != null and employeeDetailIdentity != ''">
                and employee_detail_identity = #{employeeDetailIdentity}
            </if>
            <if test="employeeDetailEntryTime != null">
                and employee_detail_entry_time = #{employeeDetailEntryTime}
            </if>
            <if test="employeeDetailEmail != null and employeeDetailEmail != ''">
                and employee_detail_email = #{employeeDetailEmail}
            </if>
            <if test="employeeDetailDescript != null and employeeDetailDescript != ''">
                and employee_detail_descript = #{employeeDetailDescript}
            </if>
            <if test="employeeDetailStatus != null">
                and employee_detail_status = #{employeeDetailStatus}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="positionId != null">
                and position_id = #{positionId}
            </if>
            <if test="branchId != null">
                and branch_id = #{branchId}
            </if>
            <if test="titleId != null">
                and title_id = #{titleId}
            </if>
        </where>
    </select>

    <!--新增EmployeeDetail数据-->
    <insert id="insertEmployeeDetail" keyProperty="employeeDetailId" useGeneratedKeys="true">
        insert into employee_detail(employee_detail_gender, employee_detail_birthday, employee_detail_address, employee_detail_phone, employee_detail_identity, employee_detail_entry_time, employee_detail_email, employee_detail_descript, employee_detail_status, employee_id, position_id, branch_id, title_id)
        values (#{employeeDetailGender}, #{employeeDetailBirthday}, #{employeeDetailAddress}, #{employeeDetailPhone}, #{employeeDetailIdentity}, #{employeeDetailEntryTime}, #{employeeDetailEmail}, #{employeeDetailDescript}, #{employeeDetailStatus}, #{employeeId}, #{positionId}, #{branchId}, #{titleId})
    </insert>

    <!--修改EmployeeDetail记录-->
    <update id="updateEmployeeDetail">
        update employee_detail
        <set>
            <if test="employeeDetailGender != null and employeeDetailGender != ''">
                employee_detail_gender = #{employeeDetailGender},
            </if>
            <if test="employeeDetailBirthday != null">
                employee_detail_birthday = #{employeeDetailBirthday},
            </if>
            <if test="employeeDetailAddress != null and employeeDetailAddress != ''">
                employee_detail_address = #{employeeDetailAddress},
            </if>
            <if test="employeeDetailPhone != null and employeeDetailPhone != ''">
                employee_detail_phone = #{employeeDetailPhone},
            </if>
            <if test="employeeDetailIdentity != null and employeeDetailIdentity != ''">
                employee_detail_identity = #{employeeDetailIdentity},
            </if>
            <if test="employeeDetailEntryTime != null">
                employee_detail_entry_time = #{employeeDetailEntryTime},
            </if>
            <if test="employeeDetailEmail != null and employeeDetailEmail != ''">
                employee_detail_email = #{employeeDetailEmail},
            </if>
            <if test="employeeDetailDescript != null and employeeDetailDescript != ''">
                employee_detail_descript = #{employeeDetailDescript},
            </if>
            <if test="employeeDetailStatus != null">
                employee_detail_status = #{employeeDetailStatus},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="positionId != null">
                position_id = #{positionId},
            </if>
            <if test="branchId != null">
                branch_id = #{branchId},
            </if>
            <if test="titleId != null">
                title_id = #{titleId},
            </if>
        </set>
        where employee_detail_id = #{employeeDetailId}
    </update>

    <!--通过主键删除一条EmployeeDetail记录-->
    <delete id="deleteEmployeeDetailById">
        delete from employee_detail where employee_detail_id = #{employeeDetailId}
    </delete>

</mapper>