<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.EmployeeRoleMapper">

    <resultMap type="com.ys.hospital.pojo.EmployeeRole" id="EmployeeRoleMap">
        <result property="employeeRoleId" column="employee_role_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有EmployeeRole信息-->
    <select id="queryAllEmployeeRole" resultMap="EmployeeRoleMap">
        select
          employee_role_id, role_id, employee_id
        from employee_role
    </select>

    <!--根据实体类EmployeeRole的相关属性查询实体类EmployeeRole-->
    <select id="queryEmployeeRoleByParam" resultMap="EmployeeRoleMap">
        select
          employee_role_id, role_id, employee_id
        from employee_role
        <where>
            <if test="employeeRoleId != null">
                and employee_role_id = #{employeeRoleId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
        </where>
    </select>

    <!--新增EmployeeRole数据-->
    <insert id="insertEmployeeRole" keyProperty="employeeRoleId" useGeneratedKeys="true">
        insert into employee_role(role_id, employee_id)
        values (#{roleId}, #{employeeId})
    </insert>

    <!--修改EmployeeRole记录-->
    <update id="updateEmployeeRole">
        update employee_role
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
        </set>
        where employee_role_id = #{employeeRoleId}
    </update>

    <!--通过主键删除一条EmployeeRole记录-->
    <delete id="deleteEmployeeRoleById">
        delete from employee_role where employee_role_id = #{employeeRoleId}
    </delete>

</mapper>