<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.InpatientNotifyMapper">

    <resultMap type="com.ys.hospital.pojo.InpatientNotify" id="InpatientNotifyMap">
        <result property="inpatientNotifyId" column="inpatient_notify_id" jdbcType="INTEGER"/>
        <result property="inpatientNotifyStatus" column="inpatient_notify_status" jdbcType="INTEGER"/>
        <result property="inpatientDealTime" column="inpatient_deal_time" jdbcType="TIMESTAMP"/>
        <result property="diagnosisId" column="diagnosis_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有InpatientNotify信息-->
    <select id="queryAllInpatientNotify" resultMap="InpatientNotifyMap">
        select
          inpatient_notify_id, inpatient_notify_status, inpatient_deal_time, diagnosis_id, employee_id
        from inpatient_notify
    </select>

    <!--根据实体类InpatientNotify的相关属性查询实体类InpatientNotify-->
    <select id="queryInpatientNotifyByParam" resultMap="InpatientNotifyMap">
        select
          inpatient_notify_id, inpatient_notify_status, inpatient_deal_time, diagnosis_id, employee_id
        from inpatient_notify
        <where>
            <if test="inpatientNotifyId != null">
                and inpatient_notify_id = #{inpatientNotifyId}
            </if>
            <if test="inpatientNotifyStatus != null">
                and inpatient_notify_status = #{inpatientNotifyStatus}
            </if>
            <if test="inpatientDealTime != null">
                and inpatient_deal_time = #{inpatientDealTime}
            </if>
            <if test="diagnosisId != null">
                and diagnosis_id = #{diagnosisId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
        </where>
    </select>

    <!--新增InpatientNotify数据-->
    <insert id="insertInpatientNotify" keyProperty="inpatientNotifyId" useGeneratedKeys="true">
        insert into inpatient_notify(inpatient_notify_status, inpatient_deal_time, diagnosis_id, employee_id)
        values (#{inpatientNotifyStatus}, #{inpatientDealTime}, #{diagnosisId}, #{employeeId})
    </insert>

    <!--修改InpatientNotify记录-->
    <update id="updateInpatientNotify">
        update inpatient_notify
        <set>
            <if test="inpatientNotifyStatus != null">
                inpatient_notify_status = #{inpatientNotifyStatus},
            </if>
            <if test="inpatientDealTime != null">
                inpatient_deal_time = #{inpatientDealTime},
            </if>
            <if test="diagnosisId != null">
                diagnosis_id = #{diagnosisId},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
        </set>
        where inpatient_notify_id = #{inpatientNotifyId}
    </update>

    <!--通过主键删除一条InpatientNotify记录-->
    <delete id="deleteInpatientNotifyById">
        delete from inpatient_notify where inpatient_notify_id = #{inpatientNotifyId}
    </delete>

</mapper>