<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.InpatientMapper">

    <resultMap type="com.ys.hospital.pojo.Inpatient" id="InpatientMap">
        <result property="inpatientId" column="inpatient_id" jdbcType="INTEGER"/>
        <result property="inpatientEntryTime" column="inpatient_entry_time" jdbcType="TIMESTAMP"/>
        <result property="inpatientLeaveTime" column="inpatient_leave_time" jdbcType="TIMESTAMP"/>
        <result property="inpatientStatus" column="inpatient_status" jdbcType="INTEGER"/>
        <result property="inpatientNotifyId" column="inpatient_notify_id" jdbcType="INTEGER"/>
        <result property="bedId" column="bed_id" jdbcType="INTEGER"/>
        <result property="inpatientPrice" column="inpatient_price" jdbcType="NUMERIC"/>
        <result property="inpatientPayStatus" column="inpatient_pay_status" jdbcType="INTEGER"/>
        <result property="inpatientPrepaidPrice" column="inpatient_prepaid_price" jdbcType="NUMERIC"/>
    </resultMap>

    <!--查询所有Inpatient信息-->
    <select id="queryAllInpatient" resultMap="InpatientMap">
        select
        inpatient_id, inpatient_entry_time, inpatient_leave_time, inpatient_status, inpatient_notify_id, bed_id,
        inpatient_price, inpatient_pay_status, inpatient_prepaid_price
        from inpatient
    </select>

    <!--根据实体类Inpatient的相关属性查询实体类Inpatient-->
    <select id="queryInpatientByParam" resultMap="InpatientMap">
        select
        inpatient_id, inpatient_entry_time, inpatient_leave_time, inpatient_status, inpatient_notify_id, bed_id,
        inpatient_price, inpatient_pay_status, inpatient_prepaid_price
        from inpatient
        <where>
            <if test="inpatientId != null">
                and inpatient_id = #{inpatientId}
            </if>
            <if test="inpatientEntryTime != null">
                and inpatient_entry_time = #{inpatientEntryTime}
            </if>
            <if test="inpatientLeaveTime != null">
                and inpatient_leave_time = #{inpatientLeaveTime}
            </if>
            <if test="inpatientStatus != null">
                and inpatient_status = #{inpatientStatus}
            </if>
            <if test="inpatientNotifyId != null">
                and inpatient_notify_id = #{inpatientNotifyId}
            </if>
            <if test="bedId != null">
                and bed_id = #{bedId}
            </if>
            <if test="inpatientPrice != null">
                and inpatient_price = #{inpatientPrice}
            </if>
            <if test="inpatientPayStatus != null">
                and inpatient_pay_status = #{inpatientPayStatus}
            </if>
            <if test="inpatientPrepaidPrice != null">
                and inpatient_prepaid_price = #{inpatientPrepaidPrice}
            </if>
        </where>
    </select>

    <!--新增Inpatient数据-->
    <insert id="insertInpatient" keyProperty="inpatientId" useGeneratedKeys="true">
        insert into inpatient(inpatient_entry_time, inpatient_leave_time, inpatient_status, inpatient_notify_id, bed_id,
        inpatient_price, inpatient_pay_status, inpatient_prepaid_price)
        values (#{inpatientEntryTime}, #{inpatientLeaveTime}, #{inpatientStatus}, #{inpatientNotifyId}, #{bedId},
        #{inpatientPrice}, #{inpatientPayStatus}, #{inpatientPrepaidPrice})
    </insert>

    <!--修改Inpatient记录-->
    <update id="updateInpatient">
        update inpatient
        <set>
            <if test="inpatientEntryTime != null">
                inpatient_entry_time = #{inpatientEntryTime},
            </if>
            <if test="inpatientLeaveTime != null">
                inpatient_leave_time = #{inpatientLeaveTime},
            </if>
            <if test="inpatientStatus != null">
                inpatient_status = #{inpatientStatus},
            </if>
            <if test="inpatientNotifyId != null">
                inpatient_notify_id = #{inpatientNotifyId},
            </if>
            <if test="bedId != null">
                bed_id = #{bedId},
            </if>
            <if test="inpatientPrice != null">
                inpatient_price = #{inpatientPrice},
            </if>
            <if test="inpatientPayStatus != null">
                inpatient_pay_status = #{inpatientPayStatus},
            </if>
            <if test="inpatientPrepaidPrice != null">
                inpatient_prepaid_price = #{inpatientPrepaidPrice},
            </if>
        </set>
        where inpatient_id = #{inpatientId}
    </update>

    <!--通过主键删除一条Inpatient记录-->
    <delete id="deleteInpatientById">
        delete from inpatient where inpatient_id = #{inpatientId}
    </delete>

</mapper>