<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.InpatientDetailMapper">

    <resultMap type="com.ys.hospital.pojo.InpatientDetail" id="InpatientDetailMap">
        <result property="inpatientDetailId" column="inpatient_detail_id" jdbcType="INTEGER"/>
        <result property="inpatientDetailPrice" column="inpatient_detail_price" jdbcType="NUMERIC"/>
        <result property="inpatientDetailDescription" column="inpatient_detail_description" jdbcType="VARCHAR"/>
        <result property="inpatientDetailDate" column="inpatient_detail_date" jdbcType="TIMESTAMP"/>
        <result property="inpatientId" column="inpatient_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有InpatientDetail信息-->
    <select id="queryAllInpatientDetail" resultMap="InpatientDetailMap">
        select
        inpatient_detail_id, inpatient_detail_price, inpatient_detail_description, inpatient_detail_date, inpatient_id
        from inpatient_detail
    </select>

    <!--根据实体类InpatientDetail的相关属性查询实体类InpatientDetail-->
    <select id="queryInpatientDetailByParam" resultMap="InpatientDetailMap">
        select
        inpatient_detail_id, inpatient_detail_price, inpatient_detail_description, inpatient_detail_date, inpatient_id
        from inpatient_detail
        <where>
            <if test="inpatientDetailId != null">
                and inpatient_detail_id = #{inpatientDetailId}
            </if>
            <if test="inpatientDetailPrice != null">
                and inpatient_detail_price = #{inpatientDetailPrice}
            </if>
            <if test="inpatientDetailDescription != null and inpatientDetailDescription != ''">
                and inpatient_detail_description = #{inpatientDetailDescription}
            </if>
            <if test="inpatientDetailDate != null">
                and inpatient_detail_date = #{inpatientDetailDate}
            </if>
            <if test="inpatientId != null">
                and inpatient_id = #{inpatientId}
            </if>
        </where>
    </select>

    <!--新增InpatientDetail数据-->
    <insert id="insertInpatientDetail" keyProperty="inpatientDetailId" useGeneratedKeys="true">
        insert into inpatient_detail(inpatient_detail_price, inpatient_detail_description, inpatient_detail_date,
        inpatient_id)
        values (#{inpatientDetailPrice}, #{inpatientDetailDescription}, #{inpatientDetailDate}, #{inpatientId})
    </insert>

    <!--修改InpatientDetail记录-->
    <update id="updateInpatientDetail">
        update inpatient_detail
        <set>
            <if test="inpatientDetailPrice != null">
                inpatient_detail_price = #{inpatientDetailPrice},
            </if>
            <if test="inpatientDetailDescription != null and inpatientDetailDescription != ''">
                inpatient_detail_description = #{inpatientDetailDescription},
            </if>
            <if test="inpatientDetailDate != null">
                inpatient_detail_date = #{inpatientDetailDate},
            </if>
            <if test="inpatientId != null">
                inpatient_id = #{inpatientId},
            </if>
        </set>
        where inpatient_detail_id = #{inpatientDetailId}
    </update>

    <!--通过主键删除一条InpatientDetail记录-->
    <delete id="deleteInpatientDetailById">
        delete from inpatient_detail where inpatient_detail_id = #{inpatientDetailId}
    </delete>

    <!--通过住院表ID查询住院明细-->
    <select id="queryInpatientDetailByInpatientId" resultMap="InpatientDetailMap">
        select
            inpatient_detail_id, inpatient_detail_price, inpatient_detail_description, inpatient_detail_date, inpatient_id
        from inpatient_detail
        where inpatient_id='55'
    </select>
</mapper>