<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.PatientMapper">

    <resultMap type="com.ys.hospital.pojo.Patient" id="PatientMap">
        <result property="patientId" column="patient_id" jdbcType="INTEGER"/>
        <result property="patientPhone" column="patient_phone" jdbcType="VARCHAR"/>
        <result property="patientName" column="patient_name" jdbcType="VARCHAR"/>
        <result property="patientGender" column="patient_gender" jdbcType="VARCHAR"/>
        <result property="patientIdentity" column="patient_identity" jdbcType="VARCHAR"/>
        <result property="patientAddress" column="patient_address" jdbcType="VARCHAR"/>
        <result property="clientId" column="client_id" jdbcType="INTEGER"/>
    </resultMap>
    <!--    添加就诊人信息-->
    <insert id="addPatient">
        insert into patient(patient_phone, patient_name, patient_gender, patient_identity, patient_address, client_id) values (#{patientPhone},#{patientName},#{patientGender},#{patientIdentity},#{patientAddress},#{clientId})
    </insert>
    <!--    根据就诊人id修改就诊人信息-->
    <update id="updatePatient">
        UPDATE patient
        SET
        patient_name = #{patientName},
        patient_phone = #{patientPhone},
        patient_gender = #{patientGender},
        patient_address = #{patientAddress},
        patient_identity = #{patientIdentity},
        client_id=#{clientId}
        WHERE
        patient_id = #{patientId}
    </update>
    <!--    查询用户绑定下的所有就诊人信息-->
    <select id="getPatientListByClientId" resultType="com.ys.hospital.pojo.Patient">
        SELECT
        patient.patient_id,
        patient.patient_phone,
        patient.patient_name,
        patient.patient_gender,
        patient.patient_identity,
        patient.patient_address,
        patient.client_id
        FROM
        patient
        WHERE
        patient.client_id=#{clientId}
    </select>
    <!--    根据就诊编号查询就就诊人详细信息-->
    <select id="getPatientDetailByPatientId" resultType="com.ys.hospital.pojo.Patient">
        SELECT
        patient.patient_id,
        patient.patient_phone,
        patient.patient_name,
        patient.patient_gender,
        patient.patient_identity,
        patient.patient_address,
        patient.client_id
        FROM
        patient
        WHERE
        patient.patient_id = #{patientId}
    </select>
    <!--    根据身份证信息查询就诊人-->
    <select id="getPatientBypatientIdentity" resultType="com.ys.hospital.pojo.Patient">
        SELECT
        patient.patient_id,
        patient.patient_phone,
        patient.patient_name,
        patient.patient_gender,
        patient.patient_identity,
        patient.patient_address,
        patient.client_id
        FROM
        patient
        WHERE
        patient.patient_identity = #{patientIdentity}
    </select>

</mapper>