<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.PowerDetailMapper">

    <resultMap type="com.ys.hospital.pojo.PowerDetail" id="PowerDetailMap">
        <result property="powerDetailId" column="power_detail_id" jdbcType="INTEGER"/>
        <result property="powerDetailName" column="power_detail_name" jdbcType="VARCHAR"/>
        <result property="powerDetailStatus" column="power_detail_status" jdbcType="INTEGER"/>
        <result property="powerId" column="power_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有PowerDetail信息-->
    <select id="queryAllPowerDetail" resultMap="PowerDetailMap">
        select
        power_detail_id, power_detail_name, power_detail_status, power_id
        from power_detail
    </select>

    <!--根据实体类PowerDetail的相关属性查询实体类PowerDetail-->
    <select id="queryPowerDetailByParam" resultMap="PowerDetailMap">
        select
        power_detail_id, power_detail_name, power_detail_status, power_id
        from power_detail
        <where>
            <if test="powerDetailId != null">
                and power_detail_id = #{powerDetailId}
            </if>
            <if test="powerDetailName != null and powerDetailName != ''">
                and power_detail_name = #{powerDetailName}
            </if>
            <if test="powerDetailStatus != null">
                and power_detail_status = #{powerDetailStatus}
            </if>
            <if test="powerId != null">
                and power_id = #{powerId}
            </if>
        </where>
    </select>

    <!--新增PowerDetail数据-->
    <insert id="insertPowerDetail" keyProperty="powerDetailId" useGeneratedKeys="true">
        insert into power_detail(power_detail_name, power_detail_status, power_id)
        values (#{powerDetailName}, #{powerDetailStatus}, #{powerId})
    </insert>

    <!--修改PowerDetail记录-->
    <update id="updatePowerDetail">
        update power_detail
        <set>
            <if test="powerDetailName != null and powerDetailName != ''">
                power_detail_name = #{powerDetailName},
            </if>
            <if test="powerDetailStatus != null">
                power_detail_status = #{powerDetailStatus},
            </if>
            <if test="powerId != null">
                power_id = #{powerId},
            </if>
        </set>
        where power_detail_id = #{powerDetailId}
    </update>

    <!--通过主键删除一条PowerDetail记录-->
    <delete id="deletePowerDetailById">
        delete from power_detail where power_detail_id = #{powerDetailId}
    </delete>

</mapper>