<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.PowerDetailMapper">

    <resultMap type="com.ys.hospital.pojo.PowerDetail" id="PowerDetailMap">
        <result property="powerDetailId" column="power_detail_id" jdbcType="INTEGER"/>
        <result property="powerDetailName" column="power_detail_name" jdbcType="VARCHAR"/>
        <result property="powerDetailStatus" column="power_detail_status" jdbcType="INTEGER"/>
        <result property="powerDetailMethod" column="power_detail_method" jdbcType="VARCHAR"/>
        <result property="powerDetailUrl" column="power_detail_url" jdbcType="VARCHAR"/>
        <result property="powerDetailDescription" column="power_detail_description" jdbcType="VARCHAR"/>
        <result property="powerId" column="power_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询PowerDetail表所有记录-->
    <select id="queryAllPowerDetail" resultMap="PowerDetailMap">
        select
          power_detail_id, power_detail_name, power_detail_status, power_detail_method, power_detail_url, power_detail_description, power_id
        from `power_detail`
    </select>

    <!--根据相关查询条件，查询PowerDetail表的一条记录-->
    <select id="queryPowerDetailByParam" resultMap="PowerDetailMap">
        select
          power_detail_id, power_detail_name, power_detail_status, power_detail_method, power_detail_url, power_detail_description, power_id
        from `power_detail`
        <where>
            <if test="powerDetailId != null">
                and power_detail_id = #{powerDetailId}
            </if>
            <if test="powerDetailName != null and powerDetailName != ''">
                and power_detail_name = #{powerDetailName}
            </if>
            <if test="powerDetailStatus != null">
                and power_detail_status = #{powerDetailStatus}
            </if>
            <if test="powerDetailMethod != null and powerDetailMethod != ''">
                and power_detail_method = #{powerDetailMethod}
            </if>
            <if test="powerDetailUrl != null and powerDetailUrl != ''">
                and power_detail_url = #{powerDetailUrl}
            </if>
            <if test="powerDetailDescription != null and powerDetailDescription != ''">
                and power_detail_description = #{powerDetailDescription}
            </if>
            <if test="powerId != null">
                and power_id = #{powerId}
            </if>
        </where>
        limit 1
    </select>
    <!--根据相关查询条件，查询PowerDetail表的多条记录-->
    <select id="queryPowerDetailListByParam" resultMap="PowerDetailMap">
        select
          power_detail_id, power_detail_name, power_detail_status, power_detail_method, power_detail_url, power_detail_description, power_id
        from `power_detail`
        <where>
            <if test="powerDetailId != null">
                and power_detail_id = #{powerDetailId}
            </if>
            <if test="powerDetailName != null and powerDetailName != ''">
                and power_detail_name = #{powerDetailName}
            </if>
            <if test="powerDetailStatus != null">
                and power_detail_status = #{powerDetailStatus}
            </if>
            <if test="powerDetailMethod != null and powerDetailMethod != ''">
                and power_detail_method = #{powerDetailMethod}
            </if>
            <if test="powerDetailUrl != null and powerDetailUrl != ''">
                and power_detail_url = #{powerDetailUrl}
            </if>
            <if test="powerDetailDescription != null and powerDetailDescription != ''">
                and power_detail_description = #{powerDetailDescription}
            </if>
            <if test="powerId != null">
                and power_id = #{powerId}
            </if>
        </where>
    </select>

    <!--根据想要添加的记录信息，在PowerDetail中添加一条记录-->
    <insert id="insertPowerDetail" keyProperty="powerDetailId" useGeneratedKeys="true">
        insert into `power_detail`
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="powerDetailName != null and powerDetailName != ''">
                    power_detail_name, 
                </if>
                <if test="powerDetailStatus != null">
                    power_detail_status, 
                </if>
                <if test="powerDetailMethod != null and powerDetailMethod != ''">
                    power_detail_method, 
                </if>
                <if test="powerDetailUrl != null and powerDetailUrl != ''">
                    power_detail_url, 
                </if>
                <if test="powerDetailDescription != null and powerDetailDescription != ''">
                    power_detail_description, 
                </if>
                <if test="powerId != null">
                    power_id, 
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="powerDetailName != null and powerDetailName != ''">
                    #{powerDetailName}, 
                </if>
                <if test="powerDetailStatus != null">
                    #{powerDetailStatus}, 
                </if>
                <if test="powerDetailMethod != null and powerDetailMethod != ''">
                    #{powerDetailMethod}, 
                </if>
                <if test="powerDetailUrl != null and powerDetailUrl != ''">
                    #{powerDetailUrl}, 
                </if>
                <if test="powerDetailDescription != null and powerDetailDescription != ''">
                    #{powerDetailDescription}, 
                </if>
                <if test="powerId != null">
                    #{powerId}, 
                </if>
            </trim>
    </insert>

    <!--根据想要修改的记录信息，在PowerDetail中修改一条记录-->
    <update id="updatePowerDetail">
        update `power_detail`
        <set>
            <if test="powerDetailName != null and powerDetailName != ''">
                power_detail_name = #{powerDetailName},
            </if>
            <if test="powerDetailStatus != null">
                power_detail_status = #{powerDetailStatus},
            </if>
            <if test="powerDetailMethod != null and powerDetailMethod != ''">
                power_detail_method = #{powerDetailMethod},
            </if>
            <if test="powerDetailUrl != null and powerDetailUrl != ''">
                power_detail_url = #{powerDetailUrl},
            </if>
            <if test="powerDetailDescription != null and powerDetailDescription != ''">
                power_detail_description = #{powerDetailDescription},
            </if>
            <if test="powerId != null">
                power_id = #{powerId},
            </if>
        </set>
        where power_detail_id = #{powerDetailId}
    </update>

    <!--根据PowerDetail的主键，删除一条PowerDetail的记录-->
    <delete id="deletePowerDetailById">
        delete from `power_detail` where power_detail_id = #{powerDetailId}
    </delete>

</mapper>