<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.RolePowerMapper">

    <resultMap type="com.ys.hospital.pojo.RolePower" id="RolePowerMap">
        <result property="rolePowerId" column="role_power_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="powerId" column="power_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有RolePower信息-->
    <select id="queryAllRolePower" resultMap="RolePowerMap">
        select
        role_power_id, role_id, power_id
        from role_power
    </select>

    <!--根据实体类RolePower的相关属性查询实体类RolePower-->
    <select id="queryRolePowerByParam" resultMap="RolePowerMap">
        select
        role_power_id, role_id, power_id
        from role_power
        <where>
            <if test="rolePowerId != null">
                and role_power_id = #{rolePowerId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="powerId != null">
                and power_id = #{powerId}
            </if>
        </where>
    </select>

    <!--新增RolePower数据-->
    <insert id="insertRolePower" keyProperty="rolePowerId" useGeneratedKeys="true">
        insert into role_power(role_id, power_id)
        values (#{roleId}, #{powerId})
    </insert>

    <!--修改RolePower记录-->
    <update id="updateRolePower">
        update role_power
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="powerId != null">
                power_id = #{powerId},
            </if>
        </set>
        where role_power_id = #{rolePowerId}
    </update>

    <!--通过主键删除一条RolePower记录-->
    <delete id="deleteRolePowerById">
        delete from role_power where role_power_id = #{rolePowerId}
    </delete>

</mapper>