<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.RoleMapper">

    <resultMap type="com.ys.hospital.pojo.Role" id="RoleMap">
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询所有Role信息-->
    <select id="queryAllRole" resultMap="RoleMap">
        select
        role_id, role_name
        from role
    </select>

    <!--根据实体类Role的相关属性查询实体类Role-->
    <select id="queryRoleByParam" resultMap="RoleMap">
        select
        role_id, role_name
        from role
        <where>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
        </where>
    </select>

    <!--新增Role数据-->
    <insert id="insertRole" keyProperty="roleId" useGeneratedKeys="true">
        insert into role(role_name)
        values (#{roleName})
    </insert>

    <!--修改Role记录-->
    <update id="updateRole">
        update role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
        </set>
        where role_id = #{roleId}
    </update>

    <!--通过主键删除一条Role记录-->
    <delete id="deleteRoleById">
        delete from role where role_id = #{roleId}
    </delete>

</mapper>