<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.TitleMapper">

    <resultMap type="com.ys.hospital.pojo.Title" id="TitleMap">
        <result property="titleId" column="title_id" jdbcType="INTEGER"/>
        <result property="titleName" column="title_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询所有Title信息-->
    <select id="queryAllTitle" resultMap="TitleMap">
        select
        title_id, title_name
        from title
    </select>

    <!--根据实体类Title的相关属性查询实体类Title-->
    <select id="queryTitleByParam" resultMap="TitleMap">
        select
        title_id, title_name
        from title
        <where>
            <if test="titleId != null">
                and title_id = #{titleId}
            </if>
            <if test="titleName != null and titleName != ''">
                and title_name = #{titleName}
            </if>
        </where>
    </select>
    <!--    根据主键查询title对象-->
    <select id="getTitleByTitleId" resultType="com.ys.hospital.pojo.Title">
        SELECT
        title.title_id,
        title.title_name
        FROM
        title
        WHERE
        title.title_id = #{titleId}
    </select>

    <!--新增Title数据-->
    <insert id="insertTitle" keyProperty="titleId" useGeneratedKeys="true">
        insert into title(title_name)
        values (#{titleName})
    </insert>

    <!--修改Title记录-->
    <update id="updateTitle">
        update title
        <set>
            <if test="titleName != null and titleName != ''">
                title_name = #{titleName},
            </if>
        </set>
        where title_id = #{titleId}
    </update>

    <!--通过主键删除一条Title记录-->
    <delete id="deleteTitleById">
        delete from title where title_id = #{titleId}
    </delete>

</mapper>