<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hospital.dao.WorkMapper">

    <resultMap type="com.ys.hospital.pojo.Work" id="WorkMap">
        <result property="workId" column="work_id" jdbcType="INTEGER"/>
        <result property="workWeek" column="work_week" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="workMorning" column="work_morning" jdbcType="INTEGER"/>
        <result property="workAfternoon" column="work_afternoon" jdbcType="INTEGER"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="workDeal" column="work_deal" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有Work信息-->
    <select id="queryAllWork" resultMap="WorkMap">
        select
          work_id, work_week, employee_id, work_morning, work_afternoon, room_id, work_deal
        from work
    </select>

    <!--根据实体类Work的相关属性查询实体类Work-->
    <select id="queryWorkByParam" resultMap="WorkMap">
        select
          work_id, work_week, employee_id, work_morning, work_afternoon, room_id, work_deal
        from work
        <where>
            <if test="workId != null">
                and work_id = #{workId}
            </if>
            <if test="workWeek != null">
                and work_week = #{workWeek}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="workMorning != null">
                and work_morning = #{workMorning}
            </if>
            <if test="workAfternoon != null">
                and work_afternoon = #{workAfternoon}
            </if>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
            <if test="workDeal != null">
                and work_deal = #{workDeal}
            </if>
        </where>
    </select>

    <!--新增Work数据-->
    <insert id="insertWork" keyProperty="workId" useGeneratedKeys="true">
        insert into work(work_week, employee_id, work_morning, work_afternoon, room_id, work_deal)
        values (#{workWeek}, #{employeeId}, #{workMorning}, #{workAfternoon}, #{roomId}, #{workDeal})
    </insert>

    <!--修改Work记录-->
    <update id="updateWork">
        update work
        <set>
            <if test="workWeek != null">
                work_week = #{workWeek},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="workMorning != null">
                work_morning = #{workMorning},
            </if>
            <if test="workAfternoon != null">
                work_afternoon = #{workAfternoon},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            <if test="workDeal != null">
                work_deal = #{workDeal},
            </if>
        </set>
        where work_id = #{workId}
    </update>

    <!--通过主键删除一条Work记录-->
    <delete id="deleteWorkById">
        delete from work where work_id = #{workId}
    </delete>

</mapper>