<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>医院自动化管理</title>
    <link rel="stylesheet" th:href="@{webjars/layui/2.5.5/css/layui.css}"/>
    <script th:src="@{webjars/layui/2.5.5/layui.js}"></script>
    <script th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body>
<form th:action="@{employee/login}">
    <label>员工编码</label><input type="text" name="employeeName" id="employeeName" placeholder="请输入你的账号"/>
    <label>密码</label><input type="password" name="employeePassword" id="employeePassword" placeholder="请输入你的账号"/>
    <input type="submit" value="提交"/>
    <input type="reset" value="重置"/>
</form>
</body>
</html>