<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>病床信息</title>
</head>
<body>
<div>
    <div>
			<!--<a class="btn btn-primary radius" data-href="bed_insert.html" data-title="添加病床信息">添加病床信息</a>-->
            <!--<input type="button" value="添加">-->
        <a th:href="@{/bed/toInsertBed}">
            <button>添加</button>
        </a>
    </div>


    <form th:action="@{/bed/queryBedByParam}" method="get">
    <div>
        <h3>查询</h3>
        病床ID：
        <input type="text" name="bedId" id="bedId" style="width:50px" class="input-text">
        病床名称：
        <input type="text" name="bedName" id="bedName" style="width:50px" class="input-text">
        状态：
        <input type="text" name="bedStatus" id="bedStatus" style="width:50px" class="input-text">
        入住时间：
        <input type="text" name="bedEntryTime" id="bedEntryTime" style="width:50px" class="input-text">
        离开时间：
        <input type="text" name="bedLeaveTime" id="bedLeaveTime" style="width:50px" class="input-text"><br>
        价格：
        <input type="text" name="bedPrice" id="bedPrice" style="width:50px" class="input-text">
        入住患者：
        <input type="text" name="patientId" id="patientId" style="width:50px" class="input-text">
        病房ID：
        <input type="text" name="roomId" id="roomId" style="width:50px" class="input-text">
        护士ID：
        <input type="text" name="employeeId" id="employeeId" style="width:50px" class="input-text">
        <button name="bed_search" id="bed_search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索病床</button>
    </div>
    </form>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>病床ID</th>
                <th>病床名称</th>
                <th>状态</th>
                <th>入住时间</th>
                <th>离开时间</th>
                <th>价格</th>
                <th>入住患者</th>
                <th>病房ID</th>
                <th>负责护士</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bed:${beds}">
                <td th:text=${bed.bedId}></td>
                <td th:text=${bed.bedName}></td>
                <td th:text=${bed.bedStatus}></td>
                <td th:text="${#dates.format(bed.bedEntryTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(bed.bedLeaveTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text=${bed.bedPrice}></td>
                <td th:text=${bed.patientId}></td>
                <td th:text=${bed.roomId}></td>
                <td th:text=${bed.employeeId}></td>

                <td>
                    <a th:href="@{/bed/toUpdateBed(bedId=${bed.bedId})}">修改</a>&nbsp;
                    <a th:href="@{/bed/deleteBed(bedId=${bed.bedId})}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--<div th:fragment="left_diagnosis">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">待处理住院通知</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">已处理住院通知</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">查看住院信息</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">查看病床信息</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
</div>
</body>
</html>