<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改住院信息</title>
</head>
<body>
<form th:action="@{/inpatient/updateInpatient}" method="post">

    <table th:each="inpatient:${inpatients}">
        <tr>
            <td>住院表ID：</td>
            <td><input type="text" name="inpatientId" style="width:50px" th:value="${inpatient.inpatientId}"></td>
        </tr>
    <tr>
        <td>入院时间：</td>
        <td><input type="text" name="inpatientEntryTime" style="width:200px" th:value="${#dates.format(inpatient.inpatientEntryTime,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
        <td>出院时间：</td>
        <td><input type="text" name="inpatientLeaveTime" style="width:200px" th:value="${#dates.format(inpatient.inpatientLeaveTime,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
        <td>处理状态：</td>
        <td><input type="text" name="inpatientStatus" style="width:50px" th:value="${inpatient.inpatientStatus}"></td>
    </tr>
    <tr>
    <td>所属住院通知：</td>
    <td><input type="text" name="inpatientNotifyId" style="width:50px" th:value="${inpatient.inpatientNotifyId}"></td>
    </tr>

    <!--下拉框选择空闲状态病床（暂未实现）-->
    <tr>
        <td>病床Id：</td>
        <td><input type="text" name="bedId" style="width:50px" th:value="${inpatient.bedId}"></td>
    </tr>
    <tr>
        <td>住院总费用：</td>
        <td><input type="text" name="inpatientPrice" style="width:50px" th:value="${inpatient.inpatientPrice}"></td>
    </tr>
    <tr>
        <td>支付状态：</td>
        <td><input type="text" name="inpatientPayStatus" style="width:50px" th:value="${inpatient.inpatientPayStatus}"></td>
    </tr>
    <tr>
        <td>预交费用：</td>
        <td><input type="text" name="inpatientPrepaidPrice" style="width:50px" th:value="${inpatient.inpatientPrepaidPrice}"></td>
    </tr>

    <tr>
        <td><input type="submit" value="修改"></td>
    </tr>
</table>
</form>
</body>
</html>