<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>查看住院信息</title>
</head>
<body>
<div>
    <form th:action="@{/inpatient/queryInpatientByParam}">
        <div>
            <h3>查询</h3>
            住院ID：
            <input type="text" name="inpatientId" id="inpatientId" style="width:50px" class="input-text">
            入院时间：
            <input type="text" name="inpatientEntryTime" id="inpatientEntryTime" style="width:50px" class="input-text">
            出院时间：
            <input type="text" name="inpatientLeaveTime" id="inpatientLeaveTime" style="width:50px" class="input-text">
            处理状态：
            <input type="text" name="inpatientStatus" id="inpatientStatus" style="width:50px" class="input-text">
            所属住院通知：
            <input type="text" name="inpatientNotifyId" id="inpatientNotifyId" style="width:50px" class="input-text"><br>
            病床名称：
            <input type="text" name="bedId" id="bedId" style="width:50px" class="input-text">
            支付状态：
            <input type="text" name="inpatientPayStatus" id="inpatientPayStatus" style="width:50px" class="input-text">

            <button name="inpatient_search" id="inpatient_search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索住院信息</button>
        </div>
    </form>
<form>
    <table border="1">
        <thead>
            <tr>
                <th>住院ID</th>
                <th>入院时间</th>
                <th>离院时间</th>
                <th>处理状态</th>
                <th>所属住院通知</th>
                <th>病床名称</th>
                <th>住院总费用</th>
                <th>支付状态</th>
                <th>预交费用</th>
                <th>住院详情</th>
                <th>患者名称</th>
                <!--<th>每天住院费</th>-->
                <!--<th>观察建议</th>-->
                <!--<th>每天住院时间</th>-->
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="inpatient:${inpatients}">
                <td th:text=${inpatient.inpatientId}></td>
                <td th:text="${#dates.format(inpatient.inpatientEntryTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(inpatient.inpatientLeaveTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text=${inpatient.inpatientStatus}></td>
                <td th:text=${inpatient.inpatientNotifyId}></td>
                <td th:text=${inpatient.BedId}></td>
                <td th:text=${inpatient.inpatientPrice}></td>
                <td th:text=${inpatient.inpatientPayStatus}></td>
                <td th:text=${inpatient.inpatientPrepaidPrice}></td>
                <td th:text=${inpatient.inpatientNotify.diagnosis.appointment.patient.patientName}></td>
                <!--<td th:text=${inpatientDetails.inpatientDetailPrice}></td>-->
                <!--<td th:text=${inpatientDetails.inpatientDetailDescription}></td>-->
                <!--<td th:text=${inpatientDetails.inpatientDetailDate}></td>-->
                <td>
                    <a th:href="@{/inpatientDetail/queryInpatientDetailByInpatientId(inpatientId=${inpatient.inpatientId})}">住院详情</a>
                </td>
                <td>
                    <a th:href="@{/inpatient/toUpdateInpatient(inpatientId=${inpatient.inpatientId})}">修改</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
</div>
</body>
</html>