<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta charset="UTF-8">
    <title>修改住院明细</title>
</head>
<body>
<form>
    <table th:each="inpatientDetail:${inpatientDetails}">
        <tr>
            <td>
                <input type="text" name="inpatientDetailId" readonly="readonly" th:value="${inpatientDetail.inpatientDetailId}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" name="inpatientDetailPrice" style="width:150px" th:value="${inpatientDetail.inpatientDetailPrice}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" name="inpatientDetailDescription" style="width:150px" th:value="inpatientDetail.inpatientDetailDescription"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" name="inpatientDetailDate" style="width:150px" th:value="inpatientDetail.inpatientDetailDate"></td>
        </tr>

        <tr>
            <td><input type="button" value="修改"></td>
        </tr>
    </table>
</form>
</body>
</html>