<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>住院通知</title>
</head>
<body>
<form>
    <table border="1">
        <thead>
            <tr>
                <th>住院通知ID</th>
                <th>状态</th>
                <th>处理住院时间</th>
                <th>所属诊断单ID</th>
                <th>处理护士ID</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="inpatientNotify:${inpatientNotifies}">
                <td th:text=${inpatientNotify.inpatientNotifyId}></td>
                <td th:text=${inpatientNotify.inpatientNotifyStatus}></td>
                <td th:text="${#dates.format(inpatientNotify.inpatientDealTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text=${inpatientNotify.diagnosisId}></td>
                <td th:text=${inpatientNotify.employeeId}></td>

                <td>
                    <a th:href="@{/bed/queryBedByStatus}">去处理</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>
