<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>住院通知</title>
</head>
<body>
<div>
<form th:action="@{/inpatientNotify/queryInpatientNotifyByParam}" method="get">
    <div>
        <h3>查询</h3>
        住院通知状态：
        <input type="text" name="inpatientNotifyStatus" id="inpatientNotifyStatus" style="width:50px" class="input-text">
        所属诊断单ID：
        <input type="text" name="diagnosisId" id="diagnosisId" style="width:50px" class="input-text">
        处理人ID：
        <input type="text" name="employeeId" id="employeeID" style="width:50px" class="input-text">
        <button name="bed_search" id="bed_search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索病床</button>
    </div>
</form>
<form>
    <table border="1">
        <thead>
            <tr>
                <th>住院通知ID</th>
                <th>状态</th>
                <th>处理住院时间</th>
                <th>所属诊断单ID</th>
                <th>处理护士ID</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="inpatientNotify:${inpatientNotifies}">
                <td th:text=${inpatientNotify.inpatientNotifyId}></td>
                <td th:text=${inpatientNotify.inpatientNotifyStatus}></td>
                <td th:text="${#dates.format(inpatientNotify.inpatientDealTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text=${inpatientNotify.diagnosisId}></td>
                <td th:text=${inpatientNotify.employeeId}></td>

                <td>
                    <a th:href="@{/inpatient/toInsertInpatient}">去处理</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
</div>
</body>
</html>
